{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="../../static/lib/raty-js/jquery.raty.css" rel="stylesheet">
    <style>
        .filtrosBusqueda{
            margin-left: 6rem;
            width: 20rem;
        }

         .btn-1 {
            text-align: center;
            float: left;
            border: 1px solid #2B2D42 !important;
            background-color: #2B2D42 !important;
            color: white !important;
        }

        .btn-2 {
            text-align: center;
            float: left;
            border: 1px solid floralwhite;
            background-color: white;
            color: black;
        }

        .btn-2:hover {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
        .ubicacionImg{
            max-width: 100%;
            max-height: 100%;
            margin-right: 12px!important;
            position: absolute!important;
            right: 8px!important;
            bottom: 144px!important;
        }.ubicacionImg:hover{
            cursor: pointer;
        }
        .ubicacionImg2{
            max-width: 100%;
            max-height: 100%;
            margin-right: 12px!important;
            position: absolute!important;
            right: 8px!important;
            bottom: 92px!important;
        }
        .ubicacionImg2:hover{
            cursor: pointer;
        }
        .divUbicacionActual:hover{
            cursor:pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card mb-3 cardForm">
        <div class="row">
            <!--Barra lateral-->
            <div class="col-md-4 pt-0" style="padding-left:30px; padding-top: 15px; overflow-y: scroll;">
                <nav class="mb-3" style="height: 75vh">
                    <div class="navbar-vertical-content">
                        <div class="row">
                            <div class="col" >
                                <div class="nav nav-pills row mb-4">
                                    <a class="nav-link col-md-6 btn-2" href="{% url 'mapaPatrimonioSimple' %}">Patrimonios</a>
                                        <button class="nav-link col-md-6 btn-1" disabled>Ruta Patrimonial</button>
                                </div>
                                <div class="row px-3 pb-3">
                                    <input type="text" id="txtDireccionPartida" class="form-control" placeholder="Ingrese su dirección de partida">
                                    <img class="ubicacionImg ubicacionActual" alt ="Ubicación Actual" src="../../static/img/icons/ubicacionActual.png"
                                    width="20" height="20" onclick="obtenerUbicacionActualPartida()"/>
                                </div>
                                <div class="row px-3 pb-3">
                                    <input type="text" id="txtDireccionLlegada" class="form-control" placeholder="Ingrese su dirección de llegada">
                                    <img class="ubicacionImg2 ubicacionActual" alt ="Ubicación Actual" src="../../static/img/icons/ubicacionActual.png"
                                    width="20" height="20" onclick="obtenerUbicacionActualLlegada()"/>
                                </div>
                                <div class="row px-3 pb-3">
                                    <button class="btn btn-primary w-100" id="btnGenerarRuta" onclick="generarRuta()">Generar Ruta</button>
                                </div>
                                <div class="row px-3 pb-3">
                                    <!--<div>0m <input type="range" min="0" max="2000" value="0" data-color="#f00" class="" id="sliderDispersion" /> 2000m 
                                    <input type="number" min="0" max="2000" value="0" class="" id="inputDispersion" disabled/></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="patrimoniosLista">
                    </div>
                </nav>
            </div>
            <!--Mapa-->
            <div class="col-md-8" style="padding: 15px;padding-right: 30px;">
                <div class="card" style="width: 100%">
                    <div class="position-relative">
                        <div id="map" style="height: 75vh; object-fit: cover; border-radius: 3px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
{% endblock %}

{% block extrajs %}
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh5T6LTIqW_gSbFZITGcZFJkOVHsqqrMY"></script>

    <script>
        const LATITUD_CENTRO_PERU=-11;
        const LONGITUD_CENTRO_PERU=-77;
        const ZOOM_CENTRO_PERU=6;
        const LATITUD_METROS=111100;
        const LONGITUD_METROS_ECUADOR=111321;
        const RADIO_DE_LA_TIERRA_PROMEDIO_PERU=6377.0854565;
        const PORCENTAJE_DISPERSION=0.15;
        const MAX_DISPERSION=2000;//en metros
        
        var success=-1;
        var zoomActual=0;
        var map = L.map('map').setView([LATITUD_CENTRO_PERU, LONGITUD_CENTRO_PERU],ZOOM_CENTRO_PERU);
        var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: "OSM"}).addTo(map);
        var geocoder = new google.maps.Geocoder();
        var autocompletePartida;
        var autocompleteLlegada;
        var controlRuta = null;
        var grupoMarcadoresRuta = L.layerGroup().addTo(map);
        var grupoMarcadoresFueraRuta = L.layerGroup().addTo(map);
        var patrimoniosEnRuta = null;
        var patrimoniosFueraRuta = null;
        var numPatrimoniosEnRuta=0;
        var dispersion=-1;//por defecto será un 0.2 de la distancia original de la ruta, hasta un máximo de 2km
        var esquinasMapa={
            noroeste:null,
            noreste:null,
            suroeste:null,
            sureste:null,
        }
        var puntoPartidaIcon = L.icon({
            iconUrl : '../../static/img/icons/punto-partida.png',
            iconSize: [24,35]
        });
        var puntoLlegadaIcon = L.icon({
            iconUrl : '../../static/img/icons/punto-llegada.png',
            iconSize: [24,35]
        });
        var institucionesIcon = L.icon({
            iconUrl : '../../static/img/icons/instituciones.png',
            iconSize: [30,30]
        });
        var patrimonioIcon = L.icon({
            iconUrl : '../../static/img/icons/patrimonios.png',
            iconSize: [30,30]
        });
        var inmaterialesIcon = L.icon({
            iconUrl : '../../static/img/icons/inmateriales.png',
            iconSize: [30,30]
        })
        var leyenda = L.control({position: 'bottomleft'});
        leyenda.onAdd = function (map){
            var div = L.DomUtil.create('div', 'info leyenda');
            div.innerHTML +=
                '<img alt="leyenda" src="../../static/img/icons/leyenda.png" width="550" height="40" />';
            return div;
        }
        leyenda.addTo(map);

        var dispersionValor = $('#sliderDispersion').val();
        $('#sliderDispersion').change(function(){
            if($('#sliderDispersion').val()!=dispersionValor){
                dispersionValor=$('#sliderDispersion').val();
                let inputDispersion=document.getElementById('inputDispersion');
                inputDispersion.value=dispersionValor;
            }
        });
        map.on('moveend',function(){
            grupoMarcadoresFueraRuta.clearLayers();
            anadirPatrimoniosFueraRuta();
        });
        function initAutoCompletePartida(){
            autocompletePartida = new google.maps.places.Autocomplete(
                document.getElementById("txtDireccionPartida"),
                {
                    componentRestrictions: {'country':['PE']}
                }
            )
        }
        function obtenerCoordenadasEsquinaMapa(){
            let bounds=map.getBounds();
            esquinasMapa.noroeste=bounds.getNorthWest();
            esquinasMapa.noreste=bounds.getNorthEast();
            esquinasMapa.suroeste=bounds.getSouthWest();
            esquinasMapa.sureste=bounds.getSouthEast();
            console.log(esquinasMapa);
        }
        async function obtenerLatitudLongitudConDireccion(direccion){
            let lat=0;
            let long=0;
            await geocoder.geocode({
                "address": direccion
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    lat=results[0].geometry.location.lat();
                    long=results[0].geometry.location.lng();
                }else{
                    alert("No se encontró la dirección ingresada");
                }
            });
            return [lat, long];
        }
        async function obtenerUbicacionActualPartida(){
            navigator.geolocation.getCurrentPosition((position)=>{
                let txtDireccionPartida=document.getElementById("txtDireccionPartida");
                let dirLatLong=new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                console.log(position.coords.latitude,position.coords.longitude);
                geocoder.geocode({
                    'latLng':dirLatLong
                }, function(results,status){
                    if(status===google.maps.GeocoderStatus.OK){
                        console.log(results[1]);
                        txtDireccionPartida.value=results[1].formatted_address;
                    }else{
                        alert("Error al obtener la ubicación actual");
                    }
                });
            });
        }
        async function obtenerUbicacionActualLlegada(){
            navigator.geolocation.getCurrentPosition((position)=>{
                let txtDireccionPartida=document.getElementById("txtDireccionLlegada");
                let dirLatLong=new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                console.log(position.coords.latitude,position.coords.longitude);
                geocoder.geocode({
                    'latLng':dirLatLong
                }, function(results,status){
                    if(status===google.maps.GeocoderStatus.OK){
                        console.log(results[1]);
                        txtDireccionPartida.value=results[1].formatted_address;
                    }else{
                        alert("Error al obtener la ubicación de llegada");
                    }
                });
            });
        }
        function limpiarMapa(){
            map.removeControl(controlRuta);
            grupoMarcadoresRuta.clearLayers();
            grupoMarcadoresFueraRuta.clearLayers();
            controlRuta=null;
            patrimoniosEnRuta=null;
            patrimoniosFueraRuta=null;
            let divPatriLista=document.querySelector('#patrimoniosLista');
            while(divPatriLista.firstChild){
                divPatriLista.removeChild(divPatriLista.firstChild);
            }
        }
        function enfocarPatrimonio(patrimonio){
            map.flyTo([patrimonio.lat,patrimonio.long]);
            //enfocar con el fly
        }
        async function obtenerPatrimoniosCercanos(lat1,long1,lat2,long2,lat1menor,long1menor){
            return $.ajax({
                type: "POST",
                url: "/mapa_patrimonio/mapa/datos",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    latitudIni:lat1,
                    longitudIni:long1,
                    latitudFin:lat2,
                    longitudFin:long2,
                    latIniMenor:lat1menor,
                    longIniMenor:long1menor,
                },
            });
        }
        function crearDivPatrimonio(patrimonioDatos){
            hrefLink=window.location.origin+"/patrimonios/detalle/"+patrimonioDatos.id+"/";
            urlImgPatrimonio= patrimonioDatos.url==null ? "/static/img/landmarks/notAvailable.jpg" : patrimonioDatos.url;
            return '<div>' + '<h3 style="text-align: center">'+patrimonioDatos.nombre+'</h3>'+
                '<img src="'+ urlImgPatrimonio+'" height="100px" width="300px"/>'+
                '<a href="'+ hrefLink +'"><button class="btn btn-dark mr-1 mb-1 w-100" type="button" style="font-size: 10px">' +
                'Ver Ficha </button> </a>'
                + '</div>';
        }
        async function obtenerPatrimoniosFueraRuta(){
            let patrimoniosEnrutados=[];
            let institucionesEnrutadas=[];
            for(let i=0;i<patrimoniosEnRuta.length;i++){
                if(patrimoniosEnRuta[i].tipo==2){//inmueble
                    patrimoniosEnrutados.push(patrimoniosEnRuta[i].id);
                }else{
                    institucionesEnrutadas.push(patrimoniosEnRuta[i].id);
                }
            }
            return $.ajax({
                type: "POST",
                url: "/mapa_patrimonio/mapa/patrimoniosFueraRuta",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    noroesteLat:esquinasMapa.noroeste.lat,
                    noroesteLong:esquinasMapa.noroeste.lng,
                    suresteLat:esquinasMapa.sureste.lat,
                    suresteLong:esquinasMapa.sureste.lng,
                    idPatrimoniosEnrutados:patrimoniosEnrutados,
                    idInstitucionesEnrutadas:institucionesEnrutadas,
                    numEnrutados:20-numPatrimoniosEnRuta,
                },
            });
        }
        async function anadirPatrimoniosFueraRuta(){
            if(patrimoniosEnRuta==null){
                return;
            }
            obtenerCoordenadasEsquinaMapa();
            await obtenerPatrimoniosFueraRuta().
                then(datos=>{
                    patrimoniosFueraRuta=datos.data;
                    console.log(datos);
                    console.log(patrimoniosFueraRuta);
                });
            for(let i=0;i<patrimoniosFueraRuta.length;i++){
                if(patrimoniosFueraRuta[i].tipo==2){
                    let markerInicio = L.marker([patrimoniosFueraRuta[i].lat, patrimoniosFueraRuta[i].long], {
                        icon: patrimonioIcon,
                        title: patrimoniosFueraRuta[i].nombre,
                    }).addTo(grupoMarcadoresFueraRuta).bindPopup(crearDivPatrimonio(patrimoniosFueraRuta[i]));
                }else{
                    let markerInicio = L.marker([patrimoniosFueraRuta[i].lat, patrimoniosFueraRuta[i].long], {
                        icon: institucionesIcon,
                        title: patrimoniosFueraRuta[i].nombre,
                    }).addTo(grupoMarcadoresFueraRuta).bindPopup(crearDivPatrimonio(patrimoniosFueraRuta[i]));
                }
            }
        }
        function anadirPatrimoniosEnRuta(){//tipo 2 para inmuebles, 4 para institucion
            for(let i=0;i<patrimoniosEnRuta.length;i++){
                if(patrimoniosEnRuta[i].tipo==2){
                    let markerInicio = L.marker([patrimoniosEnRuta[i].lat, patrimoniosEnRuta[i].long], {
                        icon: patrimonioIcon,
                        title: patrimoniosEnRuta[i].nombre,
                    }).addTo(grupoMarcadoresRuta).bindPopup(crearDivPatrimonio(patrimoniosEnRuta[i]));
                }else{
                    let markerInicio = L.marker([patrimoniosEnRuta[i].lat, patrimoniosEnRuta[i].long], {
                        icon: institucionesIcon,
                        title: patrimoniosEnRuta[i].nombre,
                    }).addTo(grupoMarcadoresRuta).bindPopup(crearDivPatrimonio(patrimoniosEnRuta[i]));
                }
            }
        }
        function ordenarPatrimoniosEnBasePuntoPartida(lat,long){//primero se irá al más cercano, luego al siguiente en cercanía, etc
            patrimoniosEnRuta.sort((a,b)=>{
                return distanciaEntreDosCoordenadas(lat,long,parseFloat(a.lat),parseFloat(a.long)) - distanciaEntreDosCoordenadas(lat,long,b.lat,b.long);
            });
            console.log(patrimoniosEnRuta); 
        }
        async function enrutamientoConPatrimonios(lat1,long1,lat2,long2){
            let puntosRuta=[];
            puntosRuta.push(L.latLng(lat1,long1));
            ordenarPatrimoniosEnBasePuntoPartida(lat1,long1);
            for(let i=0;i<patrimoniosEnRuta.length;i++){
                puntosRuta.push(L.latLng(patrimoniosEnRuta[i].lat,patrimoniosEnRuta[i].long))
            }
            puntosRuta.push(L.latLng(lat2,long2));
            controlRuta = await L.Routing.control({
                createMarker: function () { return null; },
                lineOptions : {
                    addWaypoints: false
                },
                waypoints: puntosRuta,
                language:'es',
            }).addTo(map);
        }
        function anadirListaPatrimonios(){
            var divListaPatrimonio = document.getElementById("patrimoniosLista");
            let divMensajeConfirmacion = document.createElement("div");
            let classes=['row','px-3','flex-row','justify-content-center','text-center','mt-3'];
            classes.forEach((clas)=>{
                divMensajeConfirmacion.classList.add(clas);
            });
            let mensaje="";
            if(success==1){
                if(patrimoniosEnRuta.length==0){
                    mensaje="No se encontraron patrimonios dentro de la ruta ingresada."
                }else{
                    mensaje="Se encontraron " + patrimoniosEnRuta.length + " patrimonios dentro de la ruta ingresada."
                }
            }else{
                mensaje="Hubo un error al generar la ruta."
            }
            divMensajeConfirmacion.appendChild(document.createTextNode(mensaje));
            divListaPatrimonio.appendChild(divMensajeConfirmacion);
            if(success==1 && patrimoniosEnRuta.length>0){
                let classDivMayor=['card','mb-4','mx-0'];
                let classImg=['img-fluid','w-100'];
                let classCard=['card-img-overlay','d-flex','align-items-end','text-white','pb-2'];//--
                let classPatrimonioLabel=['card-body','pt-2','pb-2'];
                let classButton=['btn','bg-200','mr-1','mb-1','w-100'];
                let classLink=['btn','btn-dark','mr-1','mb-1','w-100'];
                for(let i=0;i<patrimoniosEnRuta.length;i++){
                    let divMayor=document.createElement("div");
                    classDivMayor.forEach((clas)=>{
                        divMayor.classList.add(clas);
                    });
                    let divMediano=document.createElement("div");
                    divMediano.classList.add('position-relative');
                    
                    let divImg=document.createElement("div");
                    let img=document.createElement('img');
                    classImg.forEach((clas)=>{
                        img.classList.add(clas);
                    });
                    //img.src=patrimoniosEnRuta[i].url;
                    img.src=patrimoniosEnRuta[i].url==null ? "/static/img/landmarks/notAvailable.jpg" : patrimoniosEnRuta[i].url;
                    img.style.height="130px";
                    img.style.objectFit="cover";
                    img.style.borderTopLeftRadius="20px";
                    img.style.borderTopRightRadius="20px";
                    img.alt=patrimoniosEnRuta[i].nombre;
                    divImg.appendChild(img);

                    let divCard=document.createElement("div");
                    classCard.forEach((clas)=>{
                        divCard.classList.add(clas);
                    });
                    let pCard=document.createElement("p");
                    pCard.appendChild(document.createTextNode(patrimoniosEnRuta[i].nombre));
                    pCard.style.fontSize="15px";
                    pCard.style.fontWeight="bold";
                    pCard.style.textShadow="1px 1px black";
                    divCard.appendChild(pCard);

                    divMediano.appendChild(divImg);
                    divMediano.appendChild(divCard);
                    
                    divMayor.appendChild(divMediano);

                    let divPatrimonioLabel=document.createElement("div");
                    classPatrimonioLabel.forEach((clas)=>{
                        divPatrimonioLabel.classList.add(clas);
                    });
                    let pPatrimonio=document.createElement("p");
                    pPatrimonio.appendChild(document.createTextNode(patrimoniosEnRuta[i].tipo==2 ? "Patrimonio Material Inmueble" : "Institución"));
                    divPatrimonioLabel.appendChild(pPatrimonio);

                    let btnFicha=document.createElement("button");
                    classButton.forEach((clas)=>{
                        btnFicha.classList.add(clas);
                    });
                    btnFicha.type="button";
                    btnFicha.style.fontSize="10px";
                    btnFicha.innerHTML="Ver en el mapa";
                    btnFicha.value=patrimoniosEnRuta[i].id;
                    btnFicha.onclick=function(){
                        enfocarPatrimonio(patrimoniosEnRuta[i]);
                    };
                    divPatrimonioLabel.appendChild(btnFicha);

                    let linkFicha=document.createElement("a");
                    linkFicha.href=window.location.origin+"/patrimonios/detalle/"+patrimoniosEnRuta[i].id+"/";
                    let btnFichaLink=document.createElement("button");
                    classLink.forEach((clas)=>{
                        btnFichaLink.classList.add(clas);
                    });
                    btnFichaLink.type="button";
                    btnFichaLink.style.fontSize="10px";
                    btnFichaLink.innerHTML="Ver Ficha";
                    linkFicha.appendChild(btnFichaLink);
                    divPatrimonioLabel.appendChild(linkFicha);

                    divMayor.appendChild(divPatrimonioLabel);

                    divListaPatrimonio.appendChild(divMayor);
                }
            }
        }
        async function generarRutaDispersion(lat1,long1,lat2,long2){
            let distanciaDispersion;
            let lat1menor=false;
            let long1menor=false;
            distanciaDispersion= dispersion==-1 ? PORCENTAJE_DISPERSION*distanciaEntreDosCoordenadas(lat1,long1,lat2,long2) : dispersion;
            if(distanciaDispersion>MAX_DISPERSION){
                console.log("dispersion muy grande");
                distanciaDispersion=MAX_DISPERSION;
            }
            //esta en metros
            let nuevaLat1, nuevaLong1, nuevaLat2, nuevaLong2;
            if(long1<=long2){//se expande para la izquierda long1 y long2 para la derecha
                long1menor=true;
                nuevaLong1 = modificarLongitudDispersion(lat1,long1,distanciaDispersion*-1);
                nuevaLong2 = modificarLongitudDispersion(lat2,long2,distanciaDispersion);
            }else{//se expande para la izquierda long2 y long1 para la derecha
                nuevaLong1 = modificarLongitudDispersion(lat1,long1,distanciaDispersion);
                nuevaLong2 = modificarLongitudDispersion(lat2,long2,distanciaDispersion*-1);
            }
            console.log(lat1,lat2);
            if(lat1<=lat2){//se expande para abajo lat1 y lat2 para arriba
                lat1menor=true;
                nuevaLat1 = modificarLatitudDispersion(lat1,distanciaDispersion*-1);
                nuevaLat2 = modificarLatitudDispersion(lat2,distanciaDispersion);
            }else{//se expande para abajo lat2 y lat1 para arriba
                nuevaLat1 = modificarLatitudDispersion(lat1,distanciaDispersion);
                nuevaLat2 = modificarLatitudDispersion(lat2,distanciaDispersion*-1);
            }
            
            //back devuelve hasta 10 patrimonios o instituciones que estén dentro del nuevo rectangulo de coordenadas
            await obtenerPatrimoniosCercanos(nuevaLat1,nuevaLong1,nuevaLat2,nuevaLong2,lat1menor,long1menor).
                then(datos=>{
                    patrimoniosEnRuta=datos.data;
                    numPatrimoniosEnRuta=datos.numPatrimonios;
                    success=datos.success;
                    console.log("enrutamiento entre puntos");
                    console.log(patrimoniosEnRuta);
                });
            await enrutamientoConPatrimonios(lat1,long1,lat2,long2);
            await anadirPatrimoniosEnRuta();
            await anadirListaPatrimonios();
            await anadirPatrimoniosFueraRuta();
        }
        async function generarRuta() {
            if(controlRuta!=null){
                limpiarMapa();
            }
            let direccionPartida = $("#txtDireccionPartida").val();
            let direccionLlegada = $("#txtDireccionLlegada").val();
            let latLongPartida = await obtenerLatitudLongitudConDireccion(direccionPartida);
            let latLongLlegada = await obtenerLatitudLongitudConDireccion(direccionLlegada);
            let latitudDireccionPartida = latLongPartida[0];
            let longitudDireccionPartida = latLongPartida[1];
            let latitudDireccionLlegada = latLongLlegada[0];
            let longitudDireccionLlegada = latLongLlegada[1];
            console.log(latitudDireccionPartida,longitudDireccionPartida,latitudDireccionLlegada,longitudDireccionLlegada);
            await generarRutaDispersion(latitudDireccionPartida,longitudDireccionPartida,latitudDireccionLlegada,longitudDireccionLlegada);
            let markerInicio = L.marker([latitudDireccionPartida, longitudDireccionPartida], {
                icon: puntoPartidaIcon,
                title: "Partida"
            }).addTo(grupoMarcadoresRuta);
            let markerLlegada = L.marker([latitudDireccionLlegada, longitudDireccionLlegada], {
                icon: puntoLlegadaIcon,
                title: "Llegada"
            }).addTo(grupoMarcadoresRuta);
        }
        function modificarLatitudDispersion(lat,dist){
            let latEnGrados=decimalesAGradosMinutosSegundos(lat);
            let distEnGradosLatitud=dist/LATITUD_METROS;
            let distLatEnGrados=decimalesAGradosMinutosSegundos(distEnGradosLatitud);
            latEnGrados.grados=latEnGrados.grados+distLatEnGrados.grados;
            latEnGrados.minutos=latEnGrados.minutos+distLatEnGrados.minutos;
            latEnGrados.segundos=latEnGrados.segundos+distLatEnGrados.segundos;
            let nuevaLatitud=gradosMinutosSegundosADecimales(latEnGrados.grados,latEnGrados.minutos,latEnGrados.segundos);
            return nuevaLatitud;
        }
        function modificarLongitudDispersion(lat,long,dist){
            let longEnGrados=decimalesAGradosMinutosSegundos(long);
            let distPorGradoLongitud=Math.cos(lat)*LONGITUD_METROS_ECUADOR;
            let distEnGradosLongitud=dist/distPorGradoLongitud;
            let distLongEnGrados=decimalesAGradosMinutosSegundos(distEnGradosLongitud);
            longEnGrados.grados=longEnGrados.grados+distLongEnGrados.grados;
            longEnGrados.minutos=longEnGrados.minutos+distLongEnGrados.minutos;
            longEnGrados.segundos=longEnGrados.segundos+distLongEnGrados.segundos;
            let nuevaLongitud=gradosMinutosSegundosADecimales(longEnGrados.grados,longEnGrados.minutos,longEnGrados.segundos);
            return nuevaLongitud;
        }
        function decimalesAGradosMinutosSegundos(decimales){
            let gradosSexagesimal={
                grados:0,
                minutos:0,
                segundos:0,
            }
            gradosSexagesimal.grados=Math.trunc(decimales);
            decimales=decimales-gradosSexagesimal.grados;
            decimales=decimales*60;
            gradosSexagesimal.minutos=Math.trunc(decimales);
            decimales=decimales-gradosSexagesimal.minutos;
            decimales=decimales*60;
            gradosSexagesimal.segundos=decimales;
            return gradosSexagesimal;
        }
        function gradosMinutosSegundosADecimales(grados,minutos,segundos){
            return (grados+(1/60)*minutos+(1/3600)*segundos);
        }
        function distanciaEntreDosCoordenadas(lat1,long1,lat2,long2){//devuelve en metros
            //mientras más grande la distancia tendrá menos precisión, a más pequeña más precisión
            //en caso de todo el perú son 30m +- de falta de precisión
            let lat1Rad=lat1*(Math.PI/180);
            let lat2Rad=lat2*(Math.PI/180);
            let difLatRad=(lat2-lat1)*(Math.PI/180);
            let difLongRad=(long2-long1)*(Math.PI/180);
            let a=Math.sin(difLatRad/2)*Math.sin(difLatRad/2) +
                Math.cos(lat1Rad)*Math.cos(lat2Rad)*Math.sin(difLongRad/2)*Math.sin(difLongRad/2);
            let c=2*Math.atan2(Math.sqrt(a),Math.sqrt(1-a));
            let d=RADIO_DE_LA_TIERRA_PROMEDIO_PERU*c*1000;
            return d;
        }
    </script>

{% endblock %}
