{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title> Ministerio de Cultura </title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
{#    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">#}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/escudo.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicons/favicon.png' %}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">

    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    {% block extrastyle %}{% endblock %}
    {% include 'base/stylesheets.html' %}

    {% block extrahead %}{% endblock %}


    {#    Tema oscuro#}
{#        <link href="{% static 'css/theme-dark.css' %}" rel="stylesheet">#}

</head>
{#<main class="main cambio-left mt-3 ml-10" id="top">#}
<main class="main" id="top">
    {% block body %}{% endblock %}
</main>
<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
    {% csrf_token %}
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
{% block extrajs %}{% endblock %}

<script>
</script>

</body>

</html>
