{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="../../static/lib/raty-js/jquery.raty.css" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block body %}

    <div class="col-12">
        <div class="card mb-3 bg-card-gradient">
            <div class="card-body ">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md">
                        <h5 class="mb-2 mb-md-0 text-white">Ministerio de Cultura</h5>
                    </div>
                </div>
            </div>
        </div>

        <!--Cabecera card imagen-->
        <div class="card mb-3 rounded-3">
            <div class="card" style="width: 100%;">
                <div class="position-relative">
                    <div>
                        <img class="img-fluid w-100"
                             style="height: 320px; object-fit: cover; border-radius: 3px"
                                {#                                         src="../static/img/generic/4-caral.jpg"#}
                             src="https://www.peru.travel/Contenido/Noticia/Imagen/es/1320/1.0/Principal/caral.jpg"
                             alt="Card image"/>
                    </div>
                    <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                        <p class="card-text "
                           style="font-size: 25px;font-weight: bold; text-shadow : 1px 1px black;">{{ valor.nombreTituloDemoninacion }}
                            </p>
                        <div class="col text-right">
                            {% if puntacion >= 1 %}
                                <span class="fa fa-star" style="color: gold; text-shadow: 1px 1px black;"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                            {% endif %}
                            {% if puntacion >= 2 %}
                                <span class="fa fa-star" style="color: gold; text-shadow: 1px 1px black;"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                            {% endif %}
                            {% if puntacion >= 3 %}
                                <span class="fa fa-star" style="color: gold; text-shadow: 1px 1px black;"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                            {% endif %}
                            {% if puntacion >= 4 %}
                                <span class="fa fa-star" style="color: gold; text-shadow: 1px 1px black;"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                            {% endif %}
                            {% if puntacion >= 5 %}
                                <span class="fa fa-star" style="color: gold; text-shadow: 1px 1px black;"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Cabecera card imagen fin-->

        <!-- Info de patrimonio -->
        <div class="row">
            <div class="col-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <h5 class="card-title text-black">Historia:</h5>
                                <p class="mb-2 mb-md-0 text-black">
                                    Se ubica en la provincia de Barranca, Región Lima. Constituye la manifestación más
                                    antigua de la civilización en el Perú y en el continente americano debido a sus 5000
                                    años de antigüedad. Está conformada por 32 edificios monumentales, comprendidos en
                                    un complejo sistema de asentamientos que muestran una fuerte ideología religiosa,
                                    entre los cuales se distinguen edificios ceremoniales, sectores residenciales para
                                    gente de alto ranfo social, un conjunto de templos menores y talleres para la
                                    producción. Caral lideró un sistema de asentamientos que congregó 17 sitios
                                    similares,
                                    aunque más pequeños, ubicados en el valle de Supe. Expresa la complejidad y el
                                    desarrollo de un modelo de organización socio político y económico temprano durante
                                    el Período Arcaico tardío (5000 - 3800 BP) originado de manera independiente por las
                                    sociedades andinas que habitaron este pequeño valle fértil de la costa central
                                    peruana.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-3 ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <h5 class="card-title text-black">Datos de identificación:</h5>
                                <h6 class="mb-2 mb-md-0 text-black">Categoría: Arquitectura arcaica</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Tipo de Bien: Inmueble</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Título/Denominación: La Ciudad Sagrada Caral</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Autor: --</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Firmada: --</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Lugar de Manufactura: --</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Estilo: --</h6>
                                <p></p>
                                <h6 class="mb-2 mb-md-0 text-black">Datación: 3000 a.c. - Periodo arcaico tardío</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Info de patrimonio fin-->

        <div class="row">
            <div class="col-8">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title text-black">Imágenes:</h5>
                        <div class="row">
                            <div class="pr-2 col-lg-6 col-md-6 mb-4 mb-lg-0">
                                <img
                                        src="https://e.rpp-noticias.io/xlarge/2017/03/19/041104_368007.jpg"
                                        class="w-100 shadow-1-strong rounded mb-3"
                                        height="250"
                                        alt="Caral desde Aire"
                                />
                            </div>
                            <div class="pl-2 col-lg-6 col-md-6 mb-4 mb-lg-0">
                                <img
                                        src="https://patrimoniomundial.cultura.pe/sites/default/files/styles/home_slider/public/pm/galeria/LANDING-LISTA-web-CARAL3.png?itok=b-RR0y7P"
                                        class="w-100 shadow-1-strong rounded mb-3"
                                        height="250"
                                        alt="Caminata por Caral"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="pr-2 col-lg-4 col-md-4 mb-4 mb-lg-0">
                                <img
                                        src="https://www.tvperu.gob.pe/sites/default/files/styles/note/public/caral-piramide1.jpg?itok=GmZui_GO"
                                        class="w-100 shadow-1-strong rounded"
                                        height="250"
                                        alt="Caral desde Aire"
                                />
                            </div>
                            <div class="pl-2 pr-2 col-lg-4 col-md-4 mb-4 mb-lg-0">
                                <img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT21ZGXe7_AZlDKr3h9YWLhUN9vhHm6YzjbEg&usqp=CAU"
                                        class="w-100 shadow-1-strong rounded"
                                        height="250"
                                        alt="Caminata por Caral"
                                />
                            </div>
                            <div class="pl-2 col-lg-4 col-md-4 mb-4 mb-lg-0">
                                <img
                                        src="https://historia.nationalgeographic.com.es/medio/2019/10/24/edificio-piramidal-visto-desde-un-dronse-conservan-seis-piramides-cada-una-de-ellas-con-una-escalera-central-orientada-hacia-determinadas-estrellas_27a7675b_1280x959.jpg"
                                        class="w-100 shadow-1-strong rounded"
                                        height="250"
                                        alt="Caminata por Caral"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-black">Patrimonios cerca de la ciudad de Caral:</h5>
                            <div class="card mb-5" >
                                <div class="position-relative">
                                    <div>
                                        <img class="img-fluid w-100"
                                             style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                                             src="../../static/img/generic/4-caral.jpg"
                                             alt="Card image"/>
                                    </div>
                                    <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                                        <p class="card-text "
                                           style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                                            Ciudad
                                            Sagrada de Caral</p>
                                    </div>
                                </div>
                                <div class="card-body pt-2 pb-2">
                                    <p class="mb-0 " style="font-size: 15px"> Patrimonio Cultural de la
                                        humanidad </p>
                                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                                            style="font-size: 10px">Ver
                                        Ficha
                                    </button>
                                </div>
                            </div>
                            <div class="card mb-5" >
                                <div class="position-relative">
                                    <div>
                                        <img class="img-fluid w-100"
                                             style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                                             src="../../static/img/generic/chavin-1.jpg"
                                             alt="Card image"/>
                                    </div>
                                    <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                                        <p class="card-text "
                                           style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                                            Chavin de
                                            Huantar</p>
                                    </div>
                                </div>
                                <div class="card-body pt-2 pb-2">
                                    <p class="mb-0 " style="font-size: 15px"> Patrimonio Cultural de la
                                        humanidad </p>
                                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                                            style="font-size: 10px">Ver
                                        Ficha
                                    </button>
                                </div>
                            </div>
                            <div class="card mb-5" >
                                <div class="position-relative">
                                    <div>
                                        <img class="img-fluid w-100"
                                             style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                                             src="../../static/img/generic/ciudadela-1.png"
                                             alt="Card image"/>
                                    </div>
                                    <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                                        <p class="card-text "
                                           style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                                            Ciudadela</p>
                                    </div>
                                </div>
                                <div class="card-body pt-2 pb-2">
                                    <p class="mb-0 " style="font-size: 15px"> Patrimonio Cultural de la
                                        humanidad </p>
                                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                                            style="font-size: 10px">Ver
                                        Ficha
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title text-black">Valora la ciudad sagrada de Caral:</h5>

                            <form id="valor_form" method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                                <label for="name">¿Cómo te llamas?:</label>
                                <input name="name" class="form-control" placeholder="Nombre y Apellido...">

                                <label for="email">¿Cual es tu correo electrónico?:</label>
                                <input name="email" class="form-control" placeholder="Correo electrónico...">

                                <label for="comment">Cuentanos tu experiencia:</label>
                                <textarea name="comment" class="form-control" placeholder=""></textarea>

                                <div class="row pl-3 pt-lg-3">
                                    <div class="pt-1 mr-3">
                                        <label for="value">Puntuación</label>
                                    </div>
                                    <div class="raty"></div>
                                </div>
                            </form>

                            <button class="btn btn-dark mt-4 mr-1 mb-1 w-100" type="submit" form="valor_form">Guardar</button>
                        </div>
                    </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="../../static/lib/raty-js/jquery.raty.js"></script>
{% endblock %}