{% extends 'proyectoConservacion/components/base.html' %}
{% load has_group %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" rel="stylesheet">
    <style>
        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
            display: none;
        }

        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 40px;
            height: 40px;
            border-style: solid;
            border-color: black;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        .btn-1 {
            text-align: center;
            float: left;
            border: 1px solid #2B2D42 !important;
            background-color: #2B2D42 !important;
            color: white !important;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2 {
            text-align: center;
            float: left;
            border: 1px solid floralwhite;
            background-color: white;
            color: black;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2:hover {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }


        .table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 10px 8px 18px !important;
        }

        .modal-body {
            background-color: #F7F8FB !important;
        }

        .form-control {
            background-color: white !important;
        }

        .second {
            background-color: white !important;
            color: #2B2D42 !important;
            border-color: #8d8e99 !important;
            border-radius: 12px !important;
            height: 36px !important;
            font-size: 12px !important;
        }

        .form-control {
            background-color: white !important;
            cursor: pointer !important;
        }


        span.select2-selection.select2-selection--single {
            display: flex !important;
            align-items: center !important;
        }

        span.select2-selection__arrow {
            margin-top: 5px !important;
        }

        span.select2-selection__arrow {
            margin-top: 5px !important;
        }

        .select2-selection {
            height: 36px !important;
            border-radius: 10px !important;
            border-color: #D7E1EE !important;
            align-items: center !important;
        }

        .select2-selection__placeholder {
            align-items: center !important;
            font-size: 12px !important;
            color: #BDC1D2 !important;
        }

        .back {
            font-size: 14px !important;
        }

        input:disabled {
            background-color: #D2D2D2 !important;
        }

    </style>

{% endblock %}

{% block body %}
    <input type="hidden" value="{{ project.id }}" id="idProject">
    <div class="card mb-3">
        <div class="card-body row">
            <div class="col-md-6 col-sm-12">
                <div class="row justify-content-between align-items-center mb-1">
                    <a class="nav-link py-0 back" href="{% url 'listProjects' %}"><span class="fas fa-angle-left mr-2"
                                                                                        data-fa-transform="shrink-3"></span>Proyectos</a>
                </div>

                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6 d-flex">
                        <h5 class="mb-2 mb-sm-0 text-black mr-4">{{ project.nombre }}</h5>
                        {% if project.status == '0' %}
                            <span class="badge badge rounded-capsule d-block badge-soft-primary">En Proceso</span>
                        {% elif project.status == '1' %}
                            <span class="badge badge rounded-capsule d-block badge-soft-warning">Pendiente</span>
                        {% else %}
                            <span class="badge badge rounded-capsule d-block badge-soft-success">Completo</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="nav-bar nav-bar-right">
                    <div class="nav nav-pills">
                        <a class="nav-link col-md-4 btn-2 my-1" href="{% url 'listIncidents' pk=project.id %}">Incidentes</a>
                        <a class="nav-link col-md-4 btn-2 my-1" href="{% url 'listPatrimonys' pk=project.id %}">Patrimonios</a>
                        <button class="nav-link col-md-4 btn-1 my-1" disabled>Actividades</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row filterBar justify-content-end mr-0">
                <div class="form-group col-sm-3 mb-0">
                    <div class="position-relative">
                        <input class="form-control" id="search" type="text" placeholder="Nombre de la actividad">
                        <span class="fas fa-search inputIcon" data-fa-transform="shrink-3"></span>
                    </div>
                </div>
                <div class="form-group col-sm-2 mb-0">
                    <select class="form-control" id="status_filter">
                        <option value="" selected>Estados</option>
                        {% for mykey,myvalue in status_choices %}
                            <option value="{{ mykey }}">{{ myvalue }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-2 mb-0 {% if request.user|has_group:"Gestor de Conservación y Traslados" %}pr-0{% endif %}">
                    <select class="form-control" id="type_filter">
                        <option value="" selected>Patrimonios</option>
                        {% for patrimonio in patrimonios %}
                            <option value="{{ patrimonio.pk }}">{{ patrimonio.nombreTituloDemoninacion }}</option>
                        {% endfor %}
                    </select>
                </div>


                {% if request.user|has_group:"Gestor de Conservación y Traslados" %}
                  <button class="btn btn-primary col-sm-2 mb-0" type="button" data-dismiss="modal" id="new">
                    <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Crear Actividad
                </button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <table id="tabla_actividades" class="table table-sm table-dashboard data-table no-wrap mb-0 fs--1 w-100">
                <thead class="bg-200">
                <tr>
                    <th class="sort ">Código</th>
                    <th class="sort">Nombre</th>
                    <th class="sort">Conservadore(s)</th>
                    <th class="sort">Patrimonio Asociado</th>
                    <th class="sort">Fecha de Inicio</th>
                    <th class="sort">Fecha de Fin</th>
                    <th class="sort">Estado</th>
                    <th class="sort">Acciones</th>
                </tr>
                </thead>
                <tbody class="bg-white">

                </tbody>
            </table>
        </div>
    </div>

    <!-- NEW and EDIT Modal -->
    <div class="modal fade" id="modalActividad" role="dialog">
        <div class="modal-dialog mw-100 w-50">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="formActividad">
                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-lg-12 col-sm-12">
                                <label for="nombre">Nombre:</label>
                                <input class="form-control" id="nombre" name="nombre" type="text" required
                                       placeholder="Nombre de la Actividad">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12 col-sm-12">
                                <label for="descripcion">Descripcion:</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" type="text" required
                                          placeholder="Descripción de la Actividad"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12">
                                <label for="fechaInicio">Fecha de Inicio:</label>
                                <input class="form-control" id="fechaInicio" name="fechaInicio" type="date" required>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12">
                                <label for="fechaFin">Fecha de Fin:</label>
                                <input class="form-control" id="fechaFin" name="fechaFin" type="date" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12 col-sm-12">
                                <label for="patrimonio">Patrimonio Asociado:</label>
                                <select class="form-control selectpicker" id="patrimonio" name="patrimonio">

                                </select>
                            </div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="form-group col-9">
                                <label for="conservadores">Conservador(es):</label>
                                <select class="form-control selectpicker" id="conservadores" name="conservadores"
                                        data-placeholder='Seleccione conservador...'>

                                </select>
                            </div>
                            <div class="form-group col-auto d-flex align-items-end">
                                <button id="btnAgregarConservador" class="btn btn-primary btn-sm" type="button"
                                        onclick="agregarConservadorTabla()">Agregar Conservador
                                </button>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <table class="table table-responsive-sm">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody id="conservadorAgregar">
                                    {% for conservador in conservadores %}
                                        <tr>
                                            <td>{{ conservador.codigo }}</td>
                                            <td>{{ conservador.first_name }} {{ conservador.last_name }}</td>
                                            <td>
                                                <button class="btn" href="#" type="button"
                                                        onclick="eliminarConservador(this,{{ conservador.pk }})">
                                                    <i class="fas fa-trash" data-fa-transform="shrink-3"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>

                        <div class="row justify-content-between">
                            <div class="form-group col-9">
                                <h5>Documentos nuevos:</h5>
                            </div>

                            <div class="card-body bg-light">
                                {#                                <div class="dropzone dropzone-multiple p-0" data-dropzone>#}
                                {#                                    <div class="fallback">#}
                                <input type="file" name="file" id="file" multiple>
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>

                            <div class="col-lg-12 col-sm-12" id="seccionExistentes">

                            </div>

                        </div>


                        <div class="row justify-content-between mt-2 mr-1">
                            <div class="col-3 ">
                                <button id="actualizar" class="btn btn-primary mx-1" type="button"
                                        data-toggle="modal" data-target="#actualizarEstado">
                                    Actualizar estado
                                </button>
                            </div>
                            <div class="col-5">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <button type="button" data-dismiss="modal" class="btn second mr-3">Cancelar
                                        </button>
                                    </div>
                                    <input type="hidden" id="type" name="type" value="">
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-block"><span
                                                class="glyphicon glyphicon-ok"></span> Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title">¿Estás seguro de eliminar el proyecto?</h4>
                </div>
                <div class="modal-body px-9">
                    <div class="row justify-content-between">
                        <button type="button" data-dismiss="modal" class="btn second">Cancelar</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cover-spin"></div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
    <script>
        let conservadoresLista = [];
        let relacionesLista = [];
        let idEnviar = '0';
        let objetoFila;

        $('#new').on('click', function (e) {
            $('#nombre').val('');
            $('#descripcion').val("");
            $('#fechaInicio').val("");
            $('#fechaFin').val("");
            $('#type').val('new');
            $('#modal_title').text('Nueva Actividad');
            $("#seccionExistentes").html('');
            $("#modalActividad").modal();
        });

        $('#formActividad').on('submit', function (e) {
            e.preventDefault();
            let $this = $(this);
            let fd = new FormData();

            let files = $("#file")[0].files
            for (let i = 0, len = files.length; i < len; i++) {
                fd.append("file", files[i]);
            }

            fd.append("csrfmiddlewaretoken", "{{ csrf_token }}")
            fd.append("conservadoresLista", conservadoresLista)
            fd.append("relacionesLista", relacionesLista)

            fd.append("nombre", $("#nombre").val())
            fd.append("descripcion", $("#descripcion").val())
            fd.append("fechaInicio", $("#fechaInicio").val())
            fd.append("fechaFin", $("#fechaFin").val())
            fd.append("patrimonio", $("#patrimonio").val())

            let type = $('#type').val();
            let method = '';
            let url = '/conservacion/proyectos/';
            if (type == 'new') {
                // new
                url = url + $('#idProject').val() + '/actividades/add/';
                idEnviar = '0'
                method = 'POST';
            } else {
                // edit
                url = url + $('#idProject').val() + '/actividades/edit/' + id;
                console.log(id);
                idEnviar = id;
                console.log(idEnviar);
                method = 'POST';
            }

            $.ajax({
                url: url,
                method: method,
                data: fd,
                contentType: false,
                processData: false,
                mimeType: "multipart/form-data",
                success: function (response) {
                    $('#modalActividad').modal('hide')
                    $("#tabla_actividades").DataTable().draw();
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });

        let table = $('#tabla_actividades').DataTable({
            "searching": false,
            "serverSide": true,
            "processing": true,
            "lengthChange": false,
            "pageLength": 10,
            "scrollX": true,
            "ajax": function (data, callback, settings) {
                let order_column = data.order[0].column
                let order = data.order[0].dir

                $.ajax({
                    url: '',
                    type: 'get',
                    data: {
                        length: data.length,
                        start: data.start,
                        search_value: $('#search').val(),
                        patrimonio_filter: $('#type_filter').val(),
                        status_filter: $('#status_filter').val(),
                        order_column: order_column,
                        order: order
                    },
                    success: function (data, textStatus, jQxhr) {
                        callback({
                            recordsTotal: data.recordsTotal,
                            recordsFiltered: data.recordsFiltered,
                            data: data.data
                        });
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                    }
                });
            },
            "columns": [
                {"data": "codigo"},
                {"data": "nombre"},
                {"data": "total_conservadores"},
                {"data": "patrimonio"},
                {"data": "fechaInicio"},
                {"data": "fechaFin"},
                {
                    "data": "status", render: function (data, type, row) {
                        if (data == '1') {
                            resp = '<span class="badge badge rounded-capsule d-block badge-soft-primary">' + "En Proceso" + '</span>'
                        } else if (data == '0') {
                            resp = '<span class="badge badge rounded-capsule d-block badge-soft-warning">' + "Registrado" + '</span>'
                        } else if (data == '2') {
                            resp = '<span class="badge badge rounded-capsule d-block badge-soft-success">' + "Finalizado" + '</span>'
                        } else {
                            resp = '<span class="badge badge rounded-capsule d-block badge-soft-danger">' + "Anulado" + '</span>'
                        }
                        return resp;
                    }
                },
                {
                    "data": "status", render: function (data, type, row) {
                        if (data == '1') {
                            resp = '<button type="button" class="btn btn-show"><i class="fas fa-eye"></i></button>' + '&nbsp;&nbsp' +
                                '<button type="button" class="btn btn-edit"><i class="fas fa-edit"></i></button>' + '&nbsp;&nbsp';
                        } else if (data == '0') {
                            resp = '<button type="button" class="btn btn-show"><i class="fas fa-eye"></i></button>' + '&nbsp;&nbsp' +
                                '<button type="button" class="btn btn-edit"><i class="fas fa-edit"></i></button>' + '&nbsp;&nbsp' +
                                '{% if request.user|has_group:"Gestor de Conservación y Traslados" %}<button type="button" class="btn btn-delete"><i class="fas fa-trash-alt"></i></button>{% endif %}';
                        } else if (data == '2') {
                            resp = '<button type="button" class="btn btn-show"><i class="fas fa-eye"></i></button>' + '&nbsp;&nbsp' +
                                '<button type="button" class="btn btn-edit"><i class="fas fa-edit"></i></button>' + '&nbsp;&nbsp';
                        } else {
                            resp = '<button type="button" class="btn btn-show"><i class="fas fa-eye"></i></button>' + '&nbsp;&nbsp' +
                                '<button type="button" class="btn btn-edit"><i class="fas fa-edit"></i></button>' + '&nbsp;&nbsp';
                        }
                        return resp;
                    },
                    "orderable": false,
                }
            ],
            "language": {
                "processing": '<i class="fa fa-spinner fa-spin" style="font-size:24px;color:rgb(75, 183, 245);"></i>',
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });


        $('#search').keyup(function () {
            $('#tabla_actividades').DataTable().search($(this).val()).draw();
        })

        $('#status_filter').change(function () {
            $('#tabla_actividades').DataTable().draw();
        });
        $('#type_filter').change(function () {
            $('#tabla_actividades').DataTable().draw();
        });


        $('#tabla_actividades tbody').on('click', 'button', function () {
            let data = table.row($(this).parents('tr')).data();
            let class_name = $(this).attr('class');
            objetoFila = this;

            id = data['id'];

            if (class_name == 'btn btn-edit') {
                // EDIT button
                $('#nombre').val(data['nombre']);
                $('#descripcion').val(data['descripcion']);
                fechaInicio = data['fechaInicio'];
                if (typeof fechaInicio === 'string') {
                    var partsInicio = fechaInicio.split("/");
                    var dtInicio = new Date(parseInt(partsInicio[2], 10),
                        parseInt(partsInicio[1], 10) - 1,
                        parseInt(partsInicio[0], 10));
                    var currentDateInicio = dtInicio.toISOString().slice(0, 10);
                    $('#fechaInicio').val(currentDateInicio);
                }

                fechaFin = data['fechaFin']
                if (typeof fechaFin === 'string') {
                    var partsFin = fechaFin.split("/");
                    var dtFin = new Date(parseInt(partsFin[2], 10),
                        parseInt(partsFin[1], 10) - 1,
                        parseInt(partsFin[0], 10));
                    var currentDateFin = dtFin.toISOString().slice(0, 10);
                    $('#fechaFin').val(currentDateFin);
                }

                let tamConservadores = data['conservadores'].length;
                let conservadores = data['conservadores'];
                let documentos = data['documentos'];
                console.log(documentos);
                let tamDocumentos = data['documentos'].length;
                let relaciones = data['relaciones'];
                let tamRelaciones = relaciones.length;

                $("#patrimonio").html('<option value="' + data['patrimonioPk'] + '">' + data['patrimonio'] + '</option>')
                $("#patrimonio").val(data['patrimonioPk']).change();

                $("#conservadorAgregar").empty()
                for (let i = 0; i < tamConservadores; i++) {
                    conservadoresLista.push(conservadores[i].id);
                    $("#lista").val(conservadoresLista);

                    data = '<tr>' +
                        '<td>' + conservadores[i].codigo + '</td>' +
                        ' <td>' + conservadores[i].first_name + '</td>' +
                        '<td>' +
                        '<button class="btn" href="#" type="button" onclick="eliminarConservador(this,' + conservadores[i].id + ')">' +
                        '<i class="fas fa-trash" data-fa-transform="shrink-3"></i>' +
                        '</button>' +
                        '</td>' +
                        '</tr>';

                    $("#conservadorAgregar").append(data);
                }

                {#$("#relacionAgregar").empty()#}

                data = '<h5 class="mb-4">Documentos existentes:</h5>';
                for (let i = 0; i < tamDocumentos; i++) {
                    {#relacionesLista.push(relaciones[0].id);#}
                    {#$("#lista").val(relacionesLista);#}

                    console.log(documentos[i])
                    console.log(documentos[i].name)

                    data += '<div>' +
                        '<a class="notification notification-flush bg-0"' +
                        'href="' + documentos[i].url + '" download>' + documentos[i].name + '</a>' +
                        '<button class="btn" href="#" type="button" onclick="eliminarDocumento(this,' + documentos[i].id + ')">' +
                        '<i class="fas fa-trash" data-fa-transform="shrink-3"></i>' +
                        '</button>' +
                        '<hr>' +
                        '</div>';

                }
                $("#seccionExistentes").html(data);

                $("#relacionAgregar").empty()
                for (let i = 0; i < tamRelaciones; i++) {
                    relacionesLista.push(relaciones[0].id);
                    $("#lista").val(relacionesLista);

                    data = '<tr>' +
                        '<td>' + relaciones[0].codigo + '</td>' +
                        ' <td>' + relaciones[0].nombre + '</td>' +
                        '<td>' +
                        '<button class="btn" href="#" type="button" onclick="eliminarRelacion(this,' + relaciones[0].id + ')">' +
                        '<i class="fas fa-trash" data-fa-transform="shrink-3"></i>' +
                        '</button>' +
                        '</td>' +
                        '</tr>';

                    $("#relacionAgregar").append(data);
                }


                $('#type').val('edit');
                idEnviar = id;
                $('#modal_title').text('Editar Actividad');
                $("#modalActividad").modal();
            } else if (class_name == 'btn btn-show') {
                window.location.pathname = "/conservacion/actividades/" + id + "/tareas/";
            } else {
                // DELETE button
                $('#modal_title').text('DELETE');
                $("#confirm").modal();
            }
        });

        $('#confirm').on('click', '#delete', function (e) {
            $('#cover-spin').show(0)
            $.ajax({
                url: '/conservacion/proyectos/' + $('#idProject').val() + '/actividades/delete/' + id,
                method: 'POST',
                success: function (response) {
                    $('#cover-spin').hide()
                    if (response["success"] !== undefined) {
                        $.toast({
                            text: 'No se pudo eliminar la actividad',
                            icon: 'warning',
                            loader: false,        // Change it to false to disable loader
                            bgColor: '#c67a71',
                            textColor: '#000000',
                            position: 'bottom-right',
                            hideAfter: 3000,
                        })
                    } else {
                        $('#myModal').modal('hide')
                        $("#tabla_actividades").DataTable().draw();
                        $.toast({
                            text: 'Actividad eliminada con éxito',
                            icon: 'success',
                            loader: false,        // Change it to false to disable loader
                            bgColor: '#B7E6CA',  // To change the background
                            textColor: '#000000',
                            position: 'bottom-right',
                            hideAfter: 3000,
                        })
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('#patrimonio').prepend('<option selected=""></option>').select2({
            ajax: {
                url: '/conservacion/proyectos/patrimonios',
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    console.log(data.items)
                    return {
                        results: $.map(data.items, function (obj, index) {
                            return {id: obj.id, text: obj.nombreTituloDemoninacion};
                        }),
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    }
                }
            },
            placeholder: "Patrimonio",
            allowClear: true,
            cache: false
        });
        $('#conservadores').prepend('<option selected=""></option>').select2({
            ajax: {
                url: '/conservacion/actividades/conservadores',
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    console.log(data.items)
                    return {
                        results: $.map(data.items, function (obj, index) {
                            return {
                                id: obj.id, text: obj.username, codigo: obj.codigo, first_name: obj.first_name,
                                last_name: obj.last_name
                            };
                        }),
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    }
                }
            },
            placeholder: "Conservador",
            allowClear: true,
            cache: false
        });

        function eliminarDocumento(button, pk) {
            var columna = button.parentNode;
            let data = table.row($(objetoFila).parents('tr')).data();

            let lista = []
            var numDoc = data.documentos.length;

            for (var i = 0; i < numDoc; i++) {
                if (data.documentos[i].id !== pk) {
                    lista.push(data.documentos[i]);
                }
            }

            data.documentos = lista;

            console.log(data.documentos);

            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarDocumentoActividad'%}",
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    documento: pk,
                    actividad: Number(idEnviar)
                },
                success: function (response) {
                    let resultado = response['existe'];
                    columna.parentNode.removeChild(columna);
                    $.toast({
                        text: 'Documento eliminado con éxito',
                        icon: 'success',
                        loader: false,        // Change it to false to disable loader
                        bgColor: '#B7E6CA',  // To change the background
                        textColor: '#000000',
                        position: 'bottom-right',
                        hideAfter: 3000,
                    })
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response);
                    $.toast({
                        text: 'Ocurrió un error inesperado',
                        icon: 'warning',
                        loader: false,        // Change it to false to disable loader
                        bgColor: '#c67a71',
                        textColor: '#000000',
                        position: 'bottom-right',
                        hideAfter: 3000,
                    })
                }
            });
        }

        function agregarConservadorTabla() {
            let conservadorAgregar = $("#conservadores").select2('data');
            if (!conservadoresLista.includes(Number(conservadorAgregar[0].id))) {
                conservadoresLista.push(Number(conservadorAgregar[0].id));
                $("#lista").val(conservadoresLista);

                data = '<tr>' +
                    '<td>' + conservadorAgregar[0].codigo + '</td>' +
                    ' <td>' + conservadorAgregar[0].first_name + '</td>' +
                    '<td>' +
                    '<button class="btn" href="#" type="button" onclick="eliminarConservador(this,' + conservadorAgregar[0].id + ')">' +
                    '<i class="fas fa-trash" data-fa-transform="shrink-3"></i>' +
                    '</button>' +
                    '</td>' +
                    '</tr>';

                $("#conservadorAgregar").append(data);
                console.log("Agregado");
                console.log(conservadoresLista);
            }
        }

        function eliminarConservador(btn, idEliminar) {
            var row = btn.parentNode.parentNode;
            conservadoresLista = jQuery.grep(conservadoresLista, function (value) {
                return value != idEliminar;
            });
            row.parentNode.removeChild(row);
            $("#lista").val(conservadoresLista);
            console.log("Eliminado");
            console.log(conservadoresLista);
        }

        $('#relaciones').prepend('<option selected=""></option>').select2({
            ajax: {
                url: "{% url 'addRelacion' project.id %}",
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    console.log(data.items)
                    return {
                        results: $.map(data.items, function (obj, index) {
                            return {id: obj.id, text: obj.codigo, nombre: obj.nombre};
                        }),
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    }
                }
            },
            placeholder: "Relacion",
            allowClear: true,
            cache: false
        });

        function agregarRelacionTabla() {
            let relacionAgregar = $("#relaciones").select2('data');
            if (!relacionesLista.includes(relacionAgregar[0].id)) {
                relacionesLista.push(relacionAgregar[0].id);
                $("#lista").val(relacionesLista);

                data = '<tr>' +
                    '<td>' + relacionAgregar[0].text + '</td>' +
                    ' <td>' + relacionAgregar[0].nombre + '</td>' +
                    '<td>' +
                    '<button class="btn" href="#" type="button" onclick="eliminarRelacion(this,' + relacionAgregar[0].id + ')">' +
                    '<i class="fas fa-trash" data-fa-transform="shrink-3"></i>' +
                    '</button>' +
                    '</td>' +
                    '</tr>';

                $("#relacionAgregar").append(data);
                console.log("Agregado");
                console.log(relacionesLista);
            }
        }

        function eliminarRelacion(btn, idEliminar) {
            var row = btn.parentNode.parentNode;
            relacionesLista = jQuery.grep(relacionesLista, function (value) {
                return value != idEliminar;
            });
            row.parentNode.removeChild(row);
            $("#lista").val(relacionesLista);
            console.log("Eliminado");
            console.log(relacionesLista);
        }

        $('#modalActividad').on('hide.bs.modal', function () {
            $("#file").val(null);
            $("#conservadorAgregar").empty();
            $("#relacionAgregar").empty();
            $("#seccionExistentes").html('');
            conservadoresLista = [];
            relacionesLista = [];
            $("#conservadores").val(null).trigger('change');
            $("#relaciones").val(null).trigger('change');
            $("#patrimonio").val(null).trigger('change');
        });
    </script>
{% endblock %}