{% extends 'proyectoConservacion/components/base.html' %}
{% load static %}
{% load has_group %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" rel="stylesheet">
    <style>
        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
            display: none;
        }

        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 40px;
            height: 40px;
            border-style: solid;
            border-color: black;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        .btn-1 {
            text-align: center;
            float: left;
            border: 1px solid #2B2D42 !important;
            background-color: #2B2D42 !important;
            color: white !important;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2 {
            text-align: center;
            float: left;
            border: 1px solid floralwhite;
            background-color: white;
            color: black;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2:hover {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }


        .table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 10px 8px 18px !important;
        }

        .modal-body {
            background-color: #F7F8FB !important;
        }

        .form-control {
            background-color: white !important;
            cursor: pointer !important;
        }

        .second {
            background-color: white !important;
            color: #2B2D42 !important;
            border-color: #8d8e99 !important;
            border-radius: 12px !important;
            height: 36px !important;
            font-size: 12px !important;
        }

        .cbody {
            background-color: #F9FAFD !important;
        }

        input:disabled {
            background-color: #EEEEEE !important;
        }

    </style>

{% endblock %}

{% block body %}
    <input type="hidden" value="{{ project.id }}" id="idActivity">

    <div class="card mb-3">
        <div class="card-body">
            <div class="row justify-content-between align-items-center">
                <a class="nav-link py-0" href="{% url 'listActivities' pk=project.id %}"><span
                        class="fas fa-angle-left mr-2"
                        data-fa-transform="shrink-3"></span>Tareas</a>
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <h5 class="mb-2 mb-md-0 text-black">
                        {% if type == 'new' %}
                            Crear Actividad
                        {% else %}
                            Editar Actividad
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-2 mb-md-0 text-black">General</h5>
        </div>
        <div class="card-body cbody px-5 py-4">
            <form role="form" id="formActividad">
                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" name="nombre" type="text" required
                               placeholder="Nombre de la Actividad"
                               value="{{ actividad.nombre }}"
                               {% if not request.user|has_group:"Gestor de Conservación y Traslados" %}disabled{% endif %}>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" type="text" required
                                  placeholder="Descripción de la Actividad"
                                  {% if not request.user|has_group:"Gestor de Conservación y Traslados" %}disabled{% endif %}>{{ actividad.descripcion }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label for="fechaInicio">Fecha de Inicio:</label>
                        <input class="form-control" id="fechaInicio" name="fechaInicio" type="date" required
                               value={{ actividad.fechaInicio|date:"Y-m-d" }}
                                       {% if not request.user|has_group:"Gestor de Conservación y Traslados" %}disabled{% endif %}>
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label for="fechaFin">Fecha de Fin:</label>
                        <input class="form-control" id="fechaFin" name="fechaFin" type="date" required
                               value={{ actividad.fechaFin|date:"Y-m-d" }}
                                       {% if not request.user|has_group:"Gestor de Conservación y Traslados" %}disabled{% endif %}>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12">
                        <label for="patrimonio">Patrimonio Asociado:</label>
                        <select class="form-control selectpicker" id="patrimonio" name="patrimonio"
                                {% if not request.user|has_group:"Gestor de Conservación y Traslados" %}disabled{% endif %}>
                        </select>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="form-group col-9">
                        <label for="conservadores">Conservador(es):</label>
                        {% if request.user|has_group:"Gestor de Conservación y Traslados" %}
                            <select class="form-control selectpicker" id="conservadores" name="conservadores"
                                    data-placeholder='Seleccione conservador...'
                                    {% if not request.user|has_group:"Gestor de Conservación y Traslados" %}disabled{% endif %}>

                            </select>
                        {% endif %}
                    </div>

                    {% if request.user|has_group:"Gestor de Conservación y Traslados" %}
                        <div class="form-group col-auto d-flex align-items-end">
                            <button id="btnAgregarConservador" class="btn btn-primary btn-sm" type="button"
                                    onclick="agregarConservadorTabla()">Agregar Conservador
                            </button>
                        </div>
                    {% endif %}

                    <div class="form-group col-lg-12 col-sm-12">
                        <table class="table table-responsive-sm">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="conservadorAgregar">
                            {% for conservador in conservadores %}
                                <tr>
                                    <td>{{ conservador.codigo }}</td>
                                    <td>{{ conservador.first_name }} {{ conservador.last_name }}</td>
                                    <td>
                                        {% if request.user|has_group:"Gestor de Conservación y Traslados" %}
                                            <button class="btn" href="#" type="button"
                                                    onclick="eliminarConservador(this,{{ conservador.pk }})">
                                                <i class="fas fa-trash" data-fa-transform="shrink-3"></i>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if request.user|has_group:"Gestor de Conservación y Traslados" %}
                    <div class="row justify-content-between">
                        <div class="form-group col-9">
                            <h5>Documentos nuevos:</h5>
                        </div>
                        <div class="card-body bg-light">
                            <input type="file" name="file" id="file" multiple>
                        </div>
                        <div class="col-lg-12 col-sm-12" id="seccionExistentes">
                        </div>
                    </div>
                {% endif %}

                <div class="row justify-content-between mt-2 mr-1">

                    <div class="col-3">
                        <h5 class="flex-center mt-auto mb-auto">Estado:</h5>
                    </div>

                    <div class="col-3">
                                <span class="btn
                                    {% if actividad.status == '0' %}
                                       btn-info
                                    {% elif actividad.status == '1' %}
                                       btn-info
                                    {% elif actividad.status == '2' %}
                                        btn-success
                                    {% elif actividad.status == '3' %}
                                        btn-danger
                                    {% endif %} ">
                                {{ actividad.get_status_display }}
                            </span>
                    </div>

                    {% if actividad.status == '0' %}
                        <div class="col-3">
                            <button class="btn btn-primary mx-1" type="button"
                            data-toggle="modal" data-target="#iniciarActividad">
                                Iniciar actividad
                            </button>
                        </div>
                    {% endif %}

                    {% if actividad.status == '1' %}
                        <div class="col-3">
                            <div class="row">
                                <button  class="btn btn-primary mx-1" type="button"
                                onclick="validarEstadoTareas()" >Finalizar
                                    actividad
                                </button>
                                <button  class="btn btn-primary mx-1" type="button"
                                data-toggle="modal" data-target="#anularActividad">Anular
                                    actividad
                                </button>
                            </div>
                        </div>
                    {% endif %}


                    <div class="col-3 flex-center mt-auto mb-auto">
                        <div class="row justify-content-end">
                            {% if request.user|has_group:"Gestor de Conservación y Traslados" %}
                                <a href="{% url 'listActivities' pk=project.id %}"
                                   class="btn second mr-3 d-flex align-items-center">Cancelar</a>

                                <div>
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <span class="glyphicon glyphicon-ok"></span> Guardar
                                    </button>
                                </div>
                            {% else %}
                                <button type="button" data-dismiss="modal" class="btn second ">Volver</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div id="cover-spin"></div>

    <!-- Modal iniciar actividad -->
    <div class="modal fade" id="iniciarActividad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar estado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        A continuación se procederá a actualizar el estado de la actividad a "EN PROCESO".
                        ¿Esta seguro que desea confirmar esta acción?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="updateState('1')">Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal anular actividad -->
    <div class="modal fade" id="anularActividad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar estado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        A continuación se procederá a actualizar el estado de la actividad a "ANULADA".
                        ¿Esta seguro que desea confirmar esta acción?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="updateState('3')">Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal finalizar actividad -->
    <div class="modal fade" id="finalizarActividad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar estado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        A continuación se procederá a actualizar el estado de la actividad a "Finalizada".
                        ¿Esta seguro que desea confirmar esta acción?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="updateState('2')">Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Informar finalizar tareas-->
    <div class="modal fade" id="informarFinalizarTareas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notificación:</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                       Para poder finalizar una actividad todas las tareas deben haberse finalizado.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script>
        let conservadoresLista = [];


        jQuery.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^[a-z0-9]+([\s]{1}[a-z0-9]+)*$/i.test(value);
        }, "Letras, números, y solo guiones abajo por favor");


        jQuery.validator.addMethod("minDate", function (value, element) {
            if ($("#fechaFin").val() > $("#fechaInicio").val())
                return true;
            return false;
        }, "La fecha de fin no puede ser inferior a la fecha inicio");

        jQuery.validator.addMethod("maxDate", function (value, element) {
            if ($("#fechaFin").val() > $("#fechaInicio").val())
                return true;
            return false;
        }, "La fecha de inicio no puede ser superior a la fecha fin");

        $("form[name='formActividad']").validate({
            rules: {
                nombre: {
                    required: true,
                    maxlength: 50,
                    alphanumeric: true
                },
                descripcion: {
                    required: true,
                    maxlength: 200,
                },
                fechaInicio: {
                    required: true,
                    date: true,
                    maxDate: true
                },
                fechaFin: {
                    required: true,
                    date: true,
                    minDate: true
                },
            },
            messages: {
                nombre: {
                    required: "Debe ingresar el nombre de la actividad",
                    maxlength: "El nombre no debe tener más de 50 caracteres",
                    alphanumeric: "El nombre solo debe contener carácteres alfanuméricos con 1 solo espacio en blanco entre palabras"
                },
                descripcion: {
                    required: "Debe ingresar la descripción de la actividad",
                    maxlength: "La descripción no debe tener más de 200 caracteres",
                },

                fechaInicio: {
                    required: "Debe ingresar la fecha de inicio de la actividad",
                    //max: "La fecha de inicio no puede ser superior a la fecha fin"
                },

                fechaFin: {
                    required: "Debe ingresar la fecha de fin de la actividad",
                    //max: "La fecha de inicio no puede ser superior a la fecha fin"
                },
            },

            submitHandler: function (form, e) {
                e.preventDefault();
                $('#cover-spin').show(0)

                let fd = new FormData();

                let files = $("#file")[0].files
                for (let i = 0, len = files.length; i < len; i++) {
                    fd.append("file", files[i]);
                }

                fd.append("csrfmiddlewaretoken", "{{ csrf_token }}")
                fd.append("conservadoresLista", conservadoresLista)
                fd.append("nombre", $("#nombre").val())
                fd.append("descripcion", $("#descripcion").val())
                fd.append("fechaInicio", $("#fechaInicio").val())
                fd.append("fechaFin", $("#fechaFin").val())
                fd.append("patrimonio", $("#patrimonio").val())

                let type = $('#type').val();
                let method = '';
                let url = '/conservacion/proyectos/';
                if (type == 'new') {
                    // new
                    url += {{ project.id }} +'/actividades/add/'
                    idEnviar = '0'
                    method = 'POST';
                } else {
                    // edit
                    url += {{ project.id }} +'/actividades/edit/' + {{ actividad.id }}
                        console.log({{ actividad.id }})
                    idEnviar = {{ actividad.id }}
                        console.log(idEnviar)
                    method = 'POST';
                }

                $.ajax({
                    url: url,
                    method: method,
                    data: fd,
                    contentType: false,
                    processData: false,
                    mimeType: "multipart/form-data",
                    success: function (response) {
                        if (response["success"] !== undefined) {
                            $.toast({
                                text: 'No se pudo crear la tarea',
                                icon: 'warning',
                                loader: false,        // Change it to false to disable loader
                                bgColor: '#c67a71',
                                textColor: '#000000',
                                position: 'bottom-right',
                                hideAfter: 3000,
                            })
                        } else {
                            $("#nombre").val(null)
                            $("#descripcion").val(null)
                            $("#fechaRegistro").val(null)
                            $("#fecha").val(null)
                            $("#presupuesto").val(null)
                            $.toast({
                                text: 'Tarea creada con éxito',
                                icon: 'success',
                                loader: false,        // Change it to false to disable loader
                                bgColor: '#B7E6CA',  // To change the background
                                textColor: '#000000',
                                position: 'bottom-right',
                                hideAfter: 3000,
                            })
                        }
                    },
                    error: function (error) {
                        $.toast({
                            text: 'Ha ocurrido un error inesperado',
                            icon: 'warning',
                            loader: false,        // Change it to false to disable loader
                            bgColor: '#B7E6CA',  // To change the background
                            textColor: '#000000',
                            position: 'bottom-right',
                            hideAfter: 3000,
                        })
                    }
                });
                return false;
            }
        });


        $('#patrimonio').prepend('<option selected=""></option>').select2({
            ajax: {
                url: '/conservacion/proyectos/patrimonios',
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: params.page || 1,
                        project_pk: {{ project.id }}
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    console.log(data.items)
                    return {
                        results: $.map(data.items, function (obj, index) {
                            return {id: obj.id, text: obj.nombreTituloDemoninacion};
                        }),
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    }
                }
            },
            placeholder: "Patrimonio",
            allowClear: true,
            cache: false
        });

        $('#conservadores').prepend('<option selected=""></option>').select2({
            ajax: {
                url: '/conservacion/actividades/conservadores',
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: params.page || 1,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    console.log(data.items)
                    return {
                        results: $.map(data.items, function (obj, index) {
                            return {
                                id: obj.id, text: obj.username, codigo: obj.codigo, first_name: obj.first_name,
                                last_name: obj.last_name
                            };
                        }),
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    }
                }
            },
            placeholder: "Conservador",
            allowClear: true,
            cache: false
        });

        function eliminarDocumento(button, pk) {
            var columna = button.parentNode;
            let data = table.row($(objetoFila).parents('tr')).data();

            let lista = []
            var numDoc = data.documentos.length;

            for (var i = 0; i < numDoc; i++) {
                if (data.documentos[i].id !== pk) {
                    lista.push(data.documentos[i]);
                }
            }

            data.documentos = lista;

            console.log(data.documentos);

            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarDocumentoActividad'%}",
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    documento: pk,
                    actividad: Number(idEnviar)
                },
                success: function (response) {
                    let resultado = response['existe'];
                    columna.parentNode.removeChild(columna);
                    $.toast({
                        text: 'Documento eliminado con éxito',
                        icon: 'success',
                        loader: false,        // Change it to false to disable loader
                        bgColor: '#B7E6CA',  // To change the background
                        textColor: '#000000',
                        position: 'bottom-right',
                        hideAfter: 3000,
                    })
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response);
                    $.toast({
                        text: 'Ocurrió un error inesperado',
                        icon: 'warning',
                        loader: false,        // Change it to false to disable loader
                        bgColor: '#c67a71',
                        textColor: '#000000',
                        position: 'bottom-right',
                        hideAfter: 3000,
                    })
                }
            });
        }

        function agregarConservadorTabla() {
            let conservadorAgregar = $("#conservadores").select2('data');
            if (!conservadoresLista.includes(Number(conservadorAgregar[0].id))) {
                conservadoresLista.push(Number(conservadorAgregar[0].id));
                $("#lista").val(conservadoresLista);

                data = '<tr>' +
                    '<td>' + conservadorAgregar[0].codigo + '</td>' +
                    ' <td>' + conservadorAgregar[0].first_name + '</td>' +
                    '<td>' +
                    '<button class="btn" href="#" type="button" onclick="eliminarConservador(this,' + conservadorAgregar[0].id + ')">' +
                    '<i class="fas fa-trash" data-fa-transform="shrink-3"></i>' +
                    '</button>' +
                    '</td>' +
                    '</tr>';

                $("#conservadorAgregar").append(data);
                console.log("Agregado");
                console.log(conservadoresLista);
            }
        }

        function eliminarConservador(btn, idEliminar) {
            var row = btn.parentNode.parentNode;
            conservadoresLista = jQuery.grep(conservadoresLista, function (value) {
                return value != idEliminar;
            });
            row.parentNode.removeChild(row);
            $("#lista").val(conservadoresLista);
            console.log("Eliminado");
            console.log(conservadoresLista);
        }

        function actualizarEstadoActividad() {
            nuevo_estado = ''
            if ("{{ actividad.status }}" == '0') {
                nuevo_estado = "1"
            } else {
            }

        }

        $("#iniciarActividad").on('click', function () {

        });


        function updateState(nuevoEstado) {
            $.ajax({
                type: 'POST',
                url: "{% url 'updateActivityState'%}",
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    actividad_pk: {{ actividad.pk }},
                    nuevo_estado: nuevoEstado,
                },
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    console.log(response)
                }
            });
        }


        function validarEstadoTareas() {
            $.ajax({
                type: 'POST',
                url: "{% url 'validateEndActivity'%}",
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    actividad_pk: {{ actividad.pk }},
                },
                success: function (response) {
                    if (response['puede_eliminarse']) {
                        $("#finalizarActividad").modal('show');
                    } else {
                        $("#informarFinalizarTareas").modal('show');
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            });
        }


    </script>
{% endblock %}