{% extends 'proyectoConservacion/components/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" rel="stylesheet">
    <style>
        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
            display: none;
        }

        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 40px;
            height: 40px;
            border-style: solid;
            border-color: black;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        .btn-1 {
            text-align: center;
            float: left;
            border: 1px solid #2B2D42 !important;
            background-color: #2B2D42 !important;
            color: white !important;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2 {
            text-align: center;
            float: left;
            border: 1px solid floralwhite;
            background-color: white;
            color: black;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2:hover {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }


        .table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 10px 8px 18px !important;
        }

        .modal-body {
            background-color: #F7F8FB !important;
        }

        .form-control {
            background-color: white !important;
            cursor: pointer !important;
        }

        .second {
            background-color: white !important;
            color: #2B2D42 !important;
            border-color: #8d8e99 !important;
            border-radius: 12px !important;
            height: 36px !important;
            font-size: 12px !important;
        }

        .cbody {
            background-color: #F9FAFD !important;
        }

        input:disabled {
            background-color: #EEEEEE !important;
        }

    </style>

{% endblock %}

{% block body %}
    <input type="hidden" value="{{ activity.id }}" id="idActivity">
    <input type="hidden" value="{{ task.id }}" id="idTask">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row justify-content-between align-items-center">
                <a class="nav-link py-0" href="{% url 'listTasks' pk=activity.id %}"><span
                        class="fas fa-angle-left mr-2"
                        data-fa-transform="shrink-3"></span>Tareas</a>
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <h5 class="mb-2 mb-md-0 text-black">Detalle de Tarea: {{ task.codigo }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-2 mb-md-0 text-black">General</h5>
        </div>
        <div class="card-body cbody px-5 py-4">
            <form id="formTareas" name="formTareas">
                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" name="nombre" type="text"
                               placeholder="Nombre de la Actividad" value={{ task.nombre }} disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12">
                        <label for="descripcion">Descripcion:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" type="text"
                                  placeholder="Descripción de la Actividad" disabled>{{ task.descripcion }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="fechaRegistro">Fecha de Inicio:</label>
                        <input class="form-control" id="fechaRegistro" name="fechaRegistro" type="date"
                               value={{ task.fechaRegistro|date:"Y-m-d" }} disabled>
                    </div>
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="fecha">Fecha de Fin:</label>
                        <input class="form-control" id="fecha" name="fecha" type="date"
                               value={{ task.fecha|date:"Y-m-d" }} disabled>
                    </div>
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="presupuesto">Presupuesto:</label>
                        <input class="form-control" id="presupuesto" name="presupuesto" type="text"
                               placeholder="S/" value={{ task.presupuesto }} disabled>
                    </div>
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="gasto">Gasto Total:</label>
                        <input class="form-control" id="gasto" name="gasto" type="text"
                               placeholder="S/" disabled value={{ task.gasto }} disabled>
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <div class="row">
                            <div class="col-2 flex-center mt-auto mb-auto ">
                                <h5 class="flex-center mt-auto mb-auto">Estado: </h5>
                            </div>
                            <div class="col-3">
                            <span class="btn
                                    {% if task.status == '1' %}
                                       btn-info
                                    {% elif task.status == '2' %}
                                       btn-primary
                                    {% elif task.status == '3' %}
                                        btn-primary
                                    {% elif task.status == '4' %}
                                        btn-danger
                                    {% elif task.status == '5' %}
                                        btn-success
                                    {% endif %} ">
                                {{ task.get_status_display }}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group  row justify-content-end mt-2 mr-0">
                    <a href="{% url 'listTasks' pk=activity.id %}" class="btn second mr-3 d-flex align-items-center">Regresar</a>
                </div>

            </form>
        </div>
    </div>

    <div id="cover-spin"></div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>

        jQuery.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^[a-z0-9]+([\s]{1}[a-z0-9]+)*$/i.test(value);
        }, "Letters, numbers, and underscores only please");

        jQuery.validator.addMethod("minDate", function (value, element) {
            if ($("#fecha").val() > $("#fechaRegistro").val())
                return true;
            return false;
        }, "La fecha de fin no puede ser inferior a la fecha inicio");

        jQuery.validator.addMethod("maxDate", function (value, element) {
            if ($("#fecha").val() > $("#fechaRegistro").val())
                return true;
            return false;
        }, "La fecha de inicio no puede ser superior a la fecha fin");

        $("form[name='formTareas']").validate({
            rules: {
                nombre: {
                    required: true,
                    maxlength: 50,
                    alphanumeric: true
                },
                descripcion: {
                    required: true,
                    maxlength: 200,
                },
                presupuesto: {
                    required: true,
                    number: true,
                    min: 0
                },
                fechaRegistro: {
                    required: true,
                    date: true,
                    maxDate: true
                },
                fecha: {
                    required: true,
                    date: true,
                    minDate: true
                },
            },
            messages: {
                nombre: {
                    required: "Debe ingresar el nombre de la tarea",
                    maxlength: "El nombre no debe tener más de 50 caracteres",
                    alphanumeric: "El nombre solo debe contener carácteres alfanuméricos con 1 solo espacio en blanco entre palabras"
                },
                descripcion: {
                    required: "Debe ingresar la descripción de la tarea",
                    maxlength: "La descripción no debe tener más de 200 caracteres",
                },
                presupuesto: {
                    required: "Debe ingresar el presupuesto de la tarea",
                    number: "El presupuesto solo acepta números",
                    min: "El presupuesto no puede ser negativo"
                },
                fechaRegistro: {
                    required: "Debe ingresar la fecha de inicio de la tarea",
                    //max: "La fecha de inicio no puede ser superior a la fecha fin"
                },
                fecha: {
                    required: "Debe ingresar la fecha de fin de la tarea",
                    //min: "La fecha de fin no puede ser inferior a la fecha inicio"
                },
            },
            submitHandler: function (form, e) {
                e.preventDefault();
                $('#cover-spin').show(0)
                $.ajax({
                    url: '/conservacion/tareas/edit/' + $('#idTask').val() + '/',
                    method: "POST",
                    data: {
                        'nombre': $("#nombre").val(),
                        'descripcion': $("#descripcion").val(),
                        'fechaRegistro': $("#fechaRegistro").val(),
                        'fecha': $("#fecha").val(),
                        'presupuesto': $("#presupuesto").val(),
                        'gasto': $("#gasto").val(),
                        'estado': $("#estado").val(),
                    },
                    success: function (response) {
                        $('#cover-spin').hide()
                        if (response["success"] !== undefined) {
                            $.toast({
                                text: 'No se pudo actualizar la tarea',
                                icon: 'warning',
                                loader: false,        // Change it to false to disable loader
                                bgColor: '#c67a71',
                                textColor: '#000000',
                                position: 'bottom-right',
                                hideAfter: 3000,
                            })
                        } else {
                            $.toast({
                                text: 'Tarea actualizada con éxito',
                                icon: 'success',
                                loader: false,        // Change it to false to disable loader
                                bgColor: '#B7E6CA',  // To change the background
                                textColor: '#000000',
                                position: 'bottom-right',
                                hideAfter: 3000,
                            })
                            //window.location.pathname = "/conservacion/actividades/" + $('#idActivity').val() + "/tareas/";
                        }
                    },
                    error: function (error) {
                        $('#cover-spin').hide()
                        console.log(error)
                    }
                });
                return false;
            }
        });
    </script>
{% endblock %}