{% extends 'proyectoConservacion/components/base.html' %}
{% load static %}

{% block extrastyle %}
  <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
  <style>
      #cover-spin {
          position: fixed;
          width: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 9999;
          display: none;
      }

      @-webkit-keyframes spin {
          from {
              -webkit-transform: rotate(0deg);
          }
          to {
              -webkit-transform: rotate(360deg);
          }
      }

      @keyframes spin {
          from {
              transform: rotate(0deg);
          }
          to {
              transform: rotate(360deg);
          }
      }

      #cover-spin::after {
          content: '';
          display: block;
          position: absolute;
          left: 48%;
          top: 40%;
          width: 40px;
          height: 40px;
          border-style: solid;
          border-color: black;
          border-top-color: transparent;
          border-width: 4px;
          border-radius: 50%;
          -webkit-animation: spin .8s linear infinite;
          animation: spin .8s linear infinite;
      }

  </style>

{% endblock %}

{% block body %}

  <div class="card mb-3">
    <div class="card-body cardRed">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-12">
          <h5 class="mb-2 mb-md-0 text-black">Proyectos de Conservación</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row filterBar">
        <div class="form-group col-sm-3 pl-0">
          <div class="position-relative">
            <input class="form-control" id="search" type="text" placeholder="Nombre del proyecto">
            <span class="fas fa-search inputIcon" data-fa-transform="shrink-3"></span>
          </div>
        </div>
        <div class="form-group col-sm-2">
          <select class="form-control" id="status_filter">
            <option value="" selected>Todos</option>
            {% for mykey,myvalue in status_choices %}
              <option value="{{ mykey }}">{{ myvalue }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-sm-2">
          <select class="form-control" id="type_filter">
            <option value="" selected>Todos</option>
            {% for mykey,myvalue in typeProjects %}
              <option value="{{ mykey }}">{{ myvalue }}</option>
            {% endfor %}
          </select>
        </div>
{#        <div class="form-group col-sm-2">#}
{#          <select class="form-control" id="exampleFormControlSelect3">#}
{#            <option>1</option>#}
{#            <option>2</option>#}
{#            <option>3</option>#}
{#            <option>4</option>#}
{#            <option>5</option>#}
{#          </select>#}
{#        </div>#}
        <button class="btn btn-primary col-sm-3" type="button" data-dismiss="modal" id="new">
          <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Agregar Proyecto
        </button>
      </div>
{#      <div class="row justify-content-end">#}
{#        <div class="form-group col-sm-2">#}
{#          <select class="form-control" id="exampleFormControlSelect4">#}
{#            <option>1</option>#}
{#            <option>2</option>#}
{#            <option>3</option>#}
{#            <option>4</option>#}
{#            <option>5</option>#}
{#          </select>#}
{#        </div>#}
{#        <div class="form-group col-sm-2">#}
{#          <select class="form-control" id="exampleFormControlSelect5">#}
{#            <option>1</option>#}
{#            <option>2</option>#}
{#            <option>3</option>#}
{#            <option>4</option>#}
{#            <option>5</option>#}
{#          </select>#}
{#        </div>#}
{#      </div>#}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <table id="tabla_autores" class="table table-sm table-dashboard data-table no-wrap mb-0 fs--1 w-100">
        <thead class="bg-200">
        <tr>
          <th class="sort ">Código</th>
          <th class="sort">Nombre</th>
          <th class="sort">Tipo de Plan</th>
          <th class="sort">Act. Completadas</th>
          <th class="sort">F. Registro</th>
          <th class="sort">Estado</th>
          <th class="sort">Acciones</th>
        </tr>
        </thead>
        <tbody class="bg-white">

        </tbody>
      </table>
    </div>
  </div>

  <!-- NEW and EDIT Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog mw-100 w-50">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal_title"></h4>
        </div>
        <div class="modal-body">
          <form role="form">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-lg-6 col-sm-12">
                <label for="codigo"><span class="glyphicon glyphicon-eye-open"></span> Código</label>
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder=""
                       required>
              </div>

              <div class="form-group col-lg-6 col-sm-12">
                <label for="nombre"><span class="glyphicon glyphicon-file"></span> Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre"
                       placeholder="" required>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-6 col-sm-12">
                <label for="tipoPlan"><span class="glyphicon glyphicon-eye-open"></span> Tipo de Plan</label>
                <select class="form-control" name="tipoPlan" id="tipoPlan">
                  <option value=0>Preventivo</option>
                  <option value=1>Correctivo</option>
                  <option value=2>Curativo</option>
                </select>
              </div>

              <div class="form-group col-lg-6 col-sm-12">
                <label for="fechaRegistro"><span class="glyphicon glyphicon-eye-open"></span> Fecha de Registro</label>
                <input class="form-control" id="fechaRegistro" name="fechaRegistro" type="date">
              </div>
            </div>

            <div class="row justify-content-end mt-2">
              <div class="col-4">
                <input type="hidden" id="type" name="type" value="">
                <button type="submit" class="btn btn-1 btn-block"><span
                    class="glyphicon glyphicon-ok"></span> Guardar
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h4 class="modal-title">¿Estás seguro de eliminar el proyecto?</h4>
        </div>
        <div class="modal-body px-9">
          <div class="row justify-content-between">
            <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cover-spin"></div>

{% endblock %}

{% block extrajs %}
  <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'project/projects/projects.js' %}"></script>
  <script>

  </script>
{% endblock %}