{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
  <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
  <style>


      table {
          min-width: 100%;
          color: #2B2D42 !important;
          background-color: #EDF2F9;
      }

      .btn-1 {
          text-align: center;
          float: left;
          border: 1px solid #2B2D42;
          background-color: #2B2D42;
          color: white;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }

      .btn-2 {
          text-align: center;
          float: left;
          border: 1px solid floralwhite;
          background-color: white;
          color:black;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }

      .btn-2:hover {
          transform: scale(0.98);
          /* Scaling button to 0.98 to its original size */
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          /* Lowering the shadow */
      }
  </style>
{% endblock %}

{% block body %}

  <div class="card mb-3">
    <div class="card-body ">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-8">
          <h5 class="mb-2 mb-md-0 text-black">Conservación de patrimonios</h5>
        </div>
        <div class="col-md-4">
          <div class="nav-bar nav-bar-right">
            <div class="nav nav-pills">
              <button class="nav-link col-md-6 btn-1 my-1" disabled>Proyectos</button>
              <a class="nav-link col-md-6 btn-2 my-1" href="{% url 'list_transfers' %}">Patrimonios</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row filterBar">
        <div class="form-group col-sm-3">
          <div class="position-relative">
            <input class="form-control" id="search" type="text" placeholder="Nombre del proyecto">
            <span class="fas fa-search inputIcon" data-fa-transform="shrink-3"></span>
          </div>
        </div>
        <div class="form-group col-sm-2">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <select class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <select class="form-control" id="exampleFormControlSelect3">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <button class="btn btn-primary col-sm-3" type="button" data-dismiss="modal" id="new">
          <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Agregar Proyecto
        </button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <div>
      <table id="tabla_autores" class="nowrap mb-0 fs--1 w-100">
        <thead class="bg-200">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Tipo de Plan</th>
          <th>Actividades Completadas</th>
          <th>Fecha de Registro</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody class="bg-white">

        </tbody>
      </table>
    </div>
    </div>
  </div>

  <!-- NEW and EDIT Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal_title"></h4>
        </div>
        <div class="modal-body">
          <form role="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="codigo"><span class="glyphicon glyphicon-eye-open"></span> Código</label>
              <input type="text" class="form-control" id="codigo" name="codigo" placeholder=""
                     required="true">
            </div>
            <div class="form-group">
              <label for="nombre"><span class="glyphicon glyphicon-file"></span> Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre"
                     placeholder="" required="true">
            </div>
            <input type="hidden" id="type" name="type" value="">
            <button type="submit" class="btn btn-success btn-block"><span
                class="glyphicon glyphicon-ok"></span> Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">¿Estás seguro?</h4>
        </div>
        <div class="modal-body">
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Eliminar</button>
          <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'project/projects/projects.js' %}"></script>
{% endblock %}