{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <style>
        .okok {

            background: linear-gradient(45deg, rgba(0, 0, 0, 1) 20%, transparent 100%);
            opacity: .8;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-md">
                    <h5 class="mb-2 mb-md-0 text-white">Carga masiva de Patrimonios</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <button class="btn btn-primary mr-1 mb-1" type="button">Seleccionar Archivo</button>
                <button class="btn btn-primary mr-1 mb-1" type="button">Cargar</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>

{% endblock %}