{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<div class="card mb-3" style="height: 75vh">
    <div class="position-relative">
        <div class="row" style="padding-bottom: 3px">
            <div class="col">
                <form id="form_buscar" method="post" action={% url 'mapaPatrimonioAvanzado' %} >
                    {% csrf_token %}
                    <div class="row" style="padding:3px">
                        <div class="col">
                            <label for="txtBuscar"></label>
                            <input name="patrimonio_name" class="form-control" id="txtBuscar"
                                   placeholder="Buscar patrimonio...">
                        </div>
                    </div>
                    <div class="row" style="padding:3px">
                        <div class="col">
                            <select class="form-control" id="formSelectCategoría" style="padding:3px">
                              <option>Categoría</option>
                              <option>Mueble</option>
                              <option>Inmueble</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding:3px">
                        <div class="col">
                            <select class="form-control" id="formSelectDepartamento" style="padding:3px">
                              <option>Departamento</option>
                              <option>Lima Provincia</option>
                              <option>Ucayali</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding:3px">
                        <div class="col">
                            <select class="form-control" id="formSelectProvincia" style="padding:3px">
                              <option>Provincia</option>
                              <option>Barranca</option>
                              <option>Inmueble</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding:3px">
                        <div class="col">
                            <select class="form-control" id="formSelectDistrito" style="padding:3px">
                              <option>Distrito</option>
                              <option>Supe</option>
                              <option>Padre Abad</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="text-black" style="font-size: small" href="{% url 'mapaPatrimonioSimple' %}">
                            <u>Cambiar a búsqueda básica</u>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="padding: 3px">
            <div class="col">
                <button class="btn-primary text-white" type="submit" form="form_buscar">
                    Realizar Búsqueda
                </button>
            </div>
        </div>
    </div>
    {% if patrimonio %}
        <div class="card mb-5" >
            <div class="position-relative">
                <div>
                    <img class="img-fluid w-100"
                         style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                         src="../static/img/generic/ciudadela-1.png"
                         alt="Card image"/>
                </div>
                <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                    <p class="card-text "
                       style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                        {{ patrimonio.nombreTituloDemoninacion }}</p>
                </div>
            </div>
            <div class="card-body pt-2 pb-2">
                <p class="mb-0 " style="font-size: 15px"> Patrimonio Cultural de la
                    humanidad </p>
                <a href="{% url 'detalle' %}">
                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                            style="font-size: 10px">
                                Ver Ficha
                    </button>
                </a>
            </div>
        </div>
        <div class="card mb-5" >
            <div class="position-relative">
                <div>
                    <img class="img-fluid w-100"
                         style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                         src="../static/img/generic/ciudadela-1.png"
                         alt="Card image"/>
                </div>
                <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                    <p class="card-text "
                       style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                        {{ patrimonio.nombreTituloDemoninacion }}</p>
                </div>
            </div>
            <div class="card-body pt-2 pb-2">
                <p class="mb-0 " style="font-size: 15px"> Patrimonio Cultural de la
                    humanidad </p>
                <a href="{% url 'detalle' %}">
                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                            style="font-size: 10px">
                                Ver Ficha
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

</html>