{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <!--Go back Buttton - TODO -->
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3 bg-card-gradient">
                    <button class="btn-primary text-white" onclick="location.href='/patrimonio/detalle'">
                        Volver
                    </button>
                </div>
            </div>
        </div>
        <!--Image and Data ID-->
        <div class="row">
            <!--Image-->
            <div class="col-md-4">
                <div class="card mb-3 rounded-3">
                    <div class="card" style="width: 100%;">
                        <div class="position-relative">
                            <div>
                                <img class="img-fluid w-100"
                                     style="height: 320px; object-fit: cover; border-radius: 3px"
                                        {#                                         src="../static/img/generic/4-caral.jpg"#}
                                     src="https://www.peru.travel/Contenido/Noticia/Imagen/es/1320/1.0/Principal/caral.jpg"
                                     alt="Card image"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Data ID-->
            <div class="col-md-8">
                <div class="card mb-3 rounded-3">
                    <div class="card-header">
                        <h1 class="mb-2 mb-md-0 text-black" style="font-size: large">
                            Datos de Identificación
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Nombre:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        {{ patrimony.tituloDemoninacion}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Código de Inscripción:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        0000367079
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Tipo de bien:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        {% if patrimony.tipoPatrimonio == 1 %}
                                                            Mueble
                                                        {% else %}
                                                            Inmueble
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Lugar de Manufactura:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Perú
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Clasificación:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Arcaico
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Estilo:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        No determinado
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Título/Denominación:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        {{ patrimony.tituloDemoninacion }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Datación:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        3000 a.C
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Autor:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tehnical Data and dimensions-->
        <div class="row">
            <!--Technical Data-->
            <div class="col-md-8">
                <div class="card mb-3 rounded-3">
                    <div class="card-header">
                        <h1 class="mb-2 mb-md-0 text-black" style="font-size: large">
                            Datos técnicos
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Material Principal:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Molde
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Material Secundario:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Simple
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Técnica de Manufactura
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Manufactura
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Técnica de acabado:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Acabado Simple
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Técnica de decoración:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Pincelado
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Descripción
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black align-middle" style="font-size: small">
                                                        Una escultura, es también, un sustantivo que indica el objeto creado por el artista
                                                        escultor. Con dicho trabajo, el escultor consigue expresar sus ideas ya sean estas
                                                        figurativas o abstractas, reflejando lo que alberga la mente del artista y su habilidad técnica.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dimensions-->
            <div class="col-md-4">
                <div class="card mb-3 rounded-3">
                    <div class="card-header">
                        <h1 class="mb-2 mb-md-0 text-black" style="font-size: large">
                            Dimensiones
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Alto (cm):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        15.25
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Fondo (cm):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Largo (cm):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        28.5
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Diametro (cm):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Ancho (cm):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        10.0
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Peso (g):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        452
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Espesor (cm):
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Preservation and origins-->
        <div class="row">
            <!--Preservation of data-->
            <div class="col-md-8">
                <div class="card mb-3 rounded-3">
                    <div class="card-header">
                        <h1 class="mb-2 mb-md-0 text-black" style="font-size: large">
                            Datos de Conservación
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Estado de Conservación:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Tratamiento:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Estado de Integridad:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        --
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Detalle de conservación:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Para garantizar que los datos personales no se conservan más tiempo del necesario
                                                        , el responsable del tratamiento ha de establecer plazos para su supresión o revisión
                                                        periódica, en cada caso, para cada actividad de tratamiento.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Origins-->
            <div class="col-md-4">
                <div class="card mb-3 rounded-3">
                    <div class="card-header">
                        <h1 class="mb-2 mb-md-0 text-black" style="font-size: large">
                            Datos de procedencia
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Área geográfica:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        Costa Central
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Excavación Arqueológica:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        No presenta
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Denominación del inmueble:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        10.0
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Departamento:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        {{ patrimony.departamento }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Provincia:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        {{ patrimony.provincia }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Distrito:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        {{ patrimony.distrito }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Aditional Data-->
        <div class="row">
            <div class="col">
                <div class="card mb-3 rounded-3">
                    <div class="card-header">
                        <h1 class="mb-2 mb-md-0 text-black" style="font-size: large">
                            Datos adicionales
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!--Cultural value-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Valor cultural:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">
                                                        La definición de lo que son valores culturales no es sencilla de establecer, ya que
                                                        varían de acuerdo a las distintas tradiciones que constituyen el acervo cultural
                                                        de la humanidad. A grandes rasgos pueden definirse como el conjunto inmaterial
                                                        de bienes ideas, consideraciones e ideales por los que un grupo humano considera
                                                        digno esforzarse y luchar. Por ejemplo: tradición, empatía, libertad, educación.
                                                        Esto no quiere decir que se traduzcan a rajatabla en conductas específicas, ya
                                                        que a menudo pertenecen a la esfera de lo idealizado o la imaginación, razón por
                                                        la cual el arte se hace portavoz de dichos valores. Entonces como lo que son
                                                        valores culturales de una sociedad a menudo se contradicen con los de otra:
                                                        entonces sobreviene el conflicto.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Observations-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-black" style="font-size: medium">
                                            Observaciones:
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-black" style="font-size: small">

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
{% endblock %}