{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="../static/lib/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="../static/lib/raty-js/jquery.raty.css" rel="stylesheet">

    <link href="../static/lib/leaflet/leaflet.css" rel="stylesheet">
    <link href="../static/lib/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="../static/lib/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
    <style></style>
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <!-- Crea la ruta -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
{% endblock %}

{% block body %}
<div class="card mb-3">
    <div class="row">
        <!--Barra lateral-->
        <div class="col-md-4" style="padding-left:30px; padding-top: 15px; overflow-y: scroll; ">
            <nav class="card mb-3" style="height: 75vh">
            <!-- Content-->
            <div class="navbar-vertical-content">
                <div class="row" style="padding-bottom: 3px">
                    <div class="col">
                        <form id="form_buscar" method="post" action={% url 'mapaPatrimonioSimple' %} >
                            {% csrf_token %}
                            <div class="position-relative" style="padding: 10px;">
                                <label for="txtBuscar"></label>
                                <input name="patrimonio_name" class="form-control" id="txtBuscar" placeholder="Buscar patrimonio...">
                            </div>
                            <div class="text-right" style="padding: 10px">
                                <a class="text-black" style="font-size: small" href="{% url 'mapaPatrimonioAvanzado' %}">
                                    <u>Cambiar a búsqueda avanzada</u>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 5px">
                    <div class="col">
                        <div class="position-relative" style="padding: 5px;">
                            <button class="btn-primary text-white" type="submit" form="form_buscar">
                                Realizar Búsqueda
                            </button>
                        </div>
                    </div>
                </div>
                <!--if queried, then it must show the # of results given, including case 0-->
                {% if success != -1 %}
                    <div class="row">
                        <div class="col">
                            {% if success == 0 %}
                            <p>No se encontraron resultados</p>
                            {% elif success == 1 %}
                                {% if lensearch == 1 %}
                                    <p> Se encontró {{  lensearch }} patrimonio o institución asociada</p>
                                {% else %}
                                    <p> Se encontraron {{  lensearch }} patrimonios o instituciones asociadas</p>
                                {% endif %}
                            {% else %}
                                    <!--Nothing-->
                            {% endif %}
                        </div>
                    </div>
                    {% for p in patrimonios %}
                        <div class="card mb-5" style="padding: 10px;margin-top: 10px;">
                            <div class="position-relative">
                                <div>
                                    <img class="img-fluid w-100"
                                         style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                                         src="{{ p.url }}"
                                         alt="Card image"/>
                                </div>
                                <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                                    <p class="card-text "
                                       style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                                        {{ p.nombreTituloDemoninacion }}</p>
                                </div>
                            </div>
                            <div class="card-body pt-2 pb-2">
                                {% if p.tipoPatrimonio == "1" %}
                                    <p class="mb-0 " style="font-size: 15px"> Patrimonio Inmaterial </p>
                                {% else %}
                                    <p class="mb-0 " style="font-size: 15px"> Patrimonio Material Inmueble </p>
                                {% endif %}
                                {% comment %}
                                <button class="btn bg-200 mr-1 mb-1 w-100" type="button" style="font-size: 10px"
                                        value="[{{ p.lat }}, {{ p.long }}]" id="btn-ver-mapa">
                                            Ver en el mapa
                                </button>
                                {% endcomment %}
                                <a href="{% url 'detalle' pk=p.pk %}">
                                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                                            style="font-size: 10px">
                                                Ver Ficha
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for i in instituciones %}
                        <div class="card mb-5" style="padding: 10px;margin-top: 10px;">
                            <div class="position-relative">
                                <div>
                                    <img class="img-fluid w-100"
                                         style="height: 130px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px"
                                         src="{{ i.url }}"
                                         alt="Card image"/>
                                </div>
                                <div class="card-img-overlay d-flex align-items-end text-white pb-2">
                                    <p class="card-text "
                                       style="font-size: 15px;font-weight: bold; text-shadow : 1px 1px black;">
                                        {{ i.nombre}}</p>
                                </div>
                            </div>
                            <div class="card-body pt-2 pb-2">
                                <p class="mb-0 " style="font-size: 15px"> Institución </p>
                                {% comment %}
                                <button class="btn bg-200 mr-1 mb-1 w-100" type="button" style="font-size: 10px"
                                        value="[{{ i.lat }}, {{ i.long }}]" id="btn-ver-mapa">
                                            Ver en el mapa
                                </button>
                                {% endcomment %}
                                <a href="{% url 'detalle_museo' pk=i.pk %}">
                                    <button class="btn btn-dark mr-1 mb-1 w-100" type="button"
                                            style="font-size: 10px">
                                                Ver detalle
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </nav>
        </div>
        <!--Mapa-->
        <div class="col-md-8" style="padding-top: 15px;padding-right: 30px;">
            <div class="card" style="width: 100%">
                <div class="position-relative">
                    <div id="map" style="height: 75vh; object-fit: cover; border-radius: 3px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
    <script src="../static/lib/flatpickr/flatpickr.min.js"></script>
    <script src="{% static 'lib/raty-js/jquery.raty.js' %}"></script>

    <script src="../static/lib/leaflet/leaflet.js"></script>
    <script src="../static/lib/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script src="../static/lib/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>

    <!-- leaflet js cdn -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <!-- ruta entre puntos -->
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script>
        // leaflet map with osm tilelayer
        var map = L.map('map').setView([-9.40, -75.00], 5);
        var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: "OSM"}).addTo(map);

        var myIcon = L.icon({
            iconUrl: '../static/lib/leaflet/images/marker-icon.png',
            iconSize: [15, 40],
            iconAnchor: [15,40],
            popupAnchor: [-1,-39]
        });

        {% if patrimonio0 != None%}
            let markerInicio = L.marker([{{patrimonio0.lat}}, {{patrimonio0.long}}], {
                icon:myIcon,
                title: "{{ patrimonio0.nombreTituloDemoninacion }}"
            }).addTo(map).bindPopup("<div>" +
                "<p>" + "{{ patrimonio0.nombreTituloDemoninacion }}" +"</p>"  +
                "<img width='300' src='" +
                "{{ patrimonio0.url }}" +
                "'/>" +
            "</div>").openPopup()
            map.flyTo([{{ patrimonio0.lat }}, {{patrimonio0.long}}],14);
        {% endif %}
        {% if institucion0 != None and patrimonio0 is None %}
            let markerInicio = L.marker([{{institucion0.lat}}, {{institucion0.long}}], {
                icon:myIcon,
                title: "{{ institucion0.nombre }}"
            }).addTo(map).bindPopup("<div>" +
                "<p>" + "{{ institucion0.nombre }}" +"</p>"  +
                "<img width='300' src='" +
                "{{ institucion0.url }}" +
                "'/>" +
            "</div>").openPopup()
            map.flyTo([{{ institucion0.lat }}, {{institucion0.long}}],14);
        {% endif %}
    </script>
    <script>
    const btnVerMapa = document.getElementById('btn-ver-mapa');
    btnVerMapa.addEventListener('click',ev => {
        console.log(ev.target.value);
    })

    </script>
    {% comment %}
    <script>
        document.getElementById('btn-ver-mapa').addEventListener('click',function (e){
            console.log(e.target)
        })
    </script>
    {% endcomment %}
{% endblock %}
