{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Card for card Title-->
        <div class="row">
            <div class="col">
                <div class="card mb-3 bg-card-gradient">
                    <div class="card-body ">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md">
                                <h1 class="mb-2 mb-md-0 text-white" style="font-size: larger">
                                    Mapa
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal summary-->
        <div class="row">
            <div class="col">
                <div class="card mb-3 bg-card-gradient">
                    <button class="btn btn-primary" type="button" data-toggle="modal"
                            data-target="#modalFicha">
                        Ver ficha
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal para ficha-->
        <div class="modal fade" id="modalFicha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header" style="background-color: #0a53be;">
                        <h1 class="modal-title text-white" id="exampleModalLabel" style="font-size: large">
                            Ciudad Sagrada de Caral
                        </h1>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span class="font-weight-light text-white" aria-hidden="true">&times;
                            </span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Image of modal-->
                        <div class="row">
                            <div class="col">
                                <div class="card mb-3 rounded-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="position-relative">
                                            <div>
                                                <img class="img-fluid w-100"
                                                     style="height: 320px; object-fit: cover; border-radius: 3px"
                                                        {#                                         src="../static/img/generic/4-caral.jpg"#}
                                                     src="https://www.peru.travel/Contenido/Noticia/Imagen/es/1320/1.0/Principal/caral.jpg"
                                                     alt="Card image"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Accordions for other elements-->
                        <div class="accordion" id="mainAccordion">
                            <!--Accordion for data ID-->
                            <div class="card mb-3">
                                <div class="card-header" id="cabecera1">
                                    <button class="btn btn-link btn-block text-left card-title text-black" type="button"
                                            data-toggle="collapse" data-target="#colapso1" aria-expanded="true"
                                            aria-controls="colapso1" style="font-size: large">
                                        Datos de Identificación
                                    </button>
                                </div>
                                <div id="colapso1" class="collapse" aria-labelledby="cabecera1">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0 text-black" style="font-size: medium">
                                                    Tipo de patrimonio:
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0" style="font-size: medium">
                                                    {% if patrimony.tipoPatrimonio == '1' %}
                                                        Material
                                                    {% else %}
                                                        Inmaterial
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <p style="font-size: xx-small"></p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0 text-black" style="font-size: medium">
                                                    Categoría:
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0" style="font-size: medium">
                                                    {% if patrimony.categoria == '1' %}
                                                        Mueble
                                                    {% else %}
                                                        Inmueble
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <p style="font-size: xx-small"></p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0 text-black" style="font-size: medium">
                                                    Sub categoría:
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0" style="font-size: medium">
                                                    {% if patrimony.subcategoria == '1' %}
                                                        Arquitectura Arcaica
                                                    {% else %}
                                                        Otra sub categoría
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <p style="font-size: xx-small"></p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0 text-black" style="font-size: medium">
                                                    Título / Denominación:
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0" style="font-size: medium">
                                                    {{patrimony.tituloDemoninacion}}
                                                </p>
                                            </div>
                                        </div>
                                        <p style="font-size: xx-small"></p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0 text-black" style="font-size: medium">
                                                    Datación:
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="mb-2 mb-md-0" style="font-size: medium">
                                                    3000 a.c. - Periodo arcaico tardío
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <!--Accordion for Activities-->
                                <div class="card-header" id="cabecera2">
                                    <button class="btn btn-link btn-block text-left card-title text-black" type="button"
                                            data-toggle="collapse" data-target="#colapso2" aria-expanded="true"
                                            aria-controls="colapso2">
                                        Actividades
                                    </button>
                                </div>
                                <div id="colapso2" class="collapse" aria-labelledby="cabecera2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {% for item in activities1 %}
                                                    <p style="font-size: medium">
                                                        {{ item.descripcion}}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6">
                                                {% for item in activities2 %}
                                                    <p style="font-size: medium">
                                                        {{ item.descripcion}}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Accordion for schedule and location-->
                            <div class="card mb-3">
                                <div class="card-header" id="cabecera3">
                                    <button class="btn btn-link btn-block text-left card-title text-black" type="button"
                                          data-toggle="collapse" data-target="#colapso3" aria-expanded="true"
                                          aria-controls="colapso3">
                                        Horarios y ubicación
                                    </button>
                                </div>
                                <div id="colapso3" class="collapse" aria-labelledby="cabecera3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: medium">
                                                    🕐 {{ material_patrimony.horaApertura }} - {{ material_patrimony.horaCierre }}
                                                </p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: medium">
                                                    🗺 {{ patrimony.departamento}}, {{ patrimony.provincia }}, {{ patrimony.distrito }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Accordion Tickets and prices-->
                            <div class="card mb-3">
                                <div class="card-header" id="cabecera4">
                                    <button class="btn btn-link btn-block text-left card-title text-black" type="button"
                                          data-toggle="collapse" data-target="#colapso4" aria-expanded="true"
                                          aria-controls="colapso4">
                                        Boletos de entrada
                                    </button>
                                </div>
                                <div id="colapso4" class="collapse" aria-labelledby="cabecera4">
                                    <div class="card-body">
                                        {% for item in tickets %}
                                            <div class="row justify-content-center">
                                                <div class="col-7">
                                                    <p style="font-size: medium">
                                                        {{ item.descripcion }}
                                                    </p>
                                                </div>
                                                <div class="col-5 text-right">
                                                    <p style="font-size: medium">
                                                        S/. {{ item.precio }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--Accordion for available services-->
                            <div class="card mb-3">
                                <div class="card-header" id="cabecera5">
                                    <button class="btn btn-link btn-block text-left card-title text-black" type="button"
                                          data-toggle="collapse" data-target="#colapso5" aria-expanded="true"
                                          aria-controls="colapso5">
                                        Servicios disponibles
                                    </button>
                                </div>
                                <div id="colapso5" class="collapse" aria-labelledby="cabecera5">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                {% for item in services1 %}
                                                <p style="font-size: medium">
                                                    {{ item.descripcion }}
                                                </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-6">
                                                {% for item in services2 %}
                                                <p style="font-size: medium">
                                                    {{ item.descripcion }}
                                                </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal">
                            Atrás
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--End of modal testing -->
    </div>


{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>

{% endblock %}