{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
{#    probando si va o no va esto jquery#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
    <style>


                @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .btn-1 {
            text-align: center;
            float: left;
            border: 1px solid #2B2D42 !important;
            background-color: #2B2D42 !important;
            color: white !important;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2 {
            text-align: center;
            float: left;
            border: 1px solid floralwhite;
            background-color: white;
            color: black;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-2:hover {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }


        .table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 10px 8px 18px !important;
        }

        .form-control {
            background-color: white !important;
        }

        .form-control {
            background-color: white !important;
            cursor: pointer !important;
        }


        span.select2-selection.select2-selection--single {
            display: flex !important;
            align-items: center !important;
        }

        span.select2-selection__arrow {
            margin-top: 5px !important;
        }

        span.select2-selection__arrow {
            margin-top: 5px !important;
        }

        .select2-selection {
            height: 36px !important;
            border-radius: 10px !important;
            border-color: #D7E1EE !important;
            align-items: center !important;
        }

        .select2-selection__placeholder {
            align-items: center !important;
            font-size: 12px !important;
            color: #BDC1D2 !important;
        }

        .back {
            font-size: 14px !important;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-body cardRed">
            <div class="row justify-content-between ">
                <div class="col-md-auto d-flex align-items-center">
                    <h5 class="mb-2 mb-md-0 text-black">Entidades Solicitantes</h5>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="nav-bar nav-bar-right">
                        <div class="nav nav-pills d-flex justify-content-end">
                            <a class="nav-link col-md-4 btn-2 my-1" href="{% url 'list_transfers' %}">Traslados</a>
                            <button class="nav-link col-md-4 btn-1 my-1" disabled>Entidades</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

<div class="card mb-3">
    <div class="card-body p-0">
        <div class="navbar">
            <div class="col-sm-auto mb-2 mb-sm-0">
                <h6 class="mb-0"></h6>
            </div>
            <div class="row d-flex align-items-center">
{% comment %} 
                <div class="form-group col-sm-auto my-1">
                    <div class="position-relative">
                        <input class="form-control" id="name" type="text" placeholder="Nombre">
                        <span class="fas fa-search inputIcon" data-fa-transform="shrink-3"></span>
                    </div>
                </div> {% endcomment %}

                <div class="form-group col-sm-auto my-1">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected>Clasificación</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group col-sm-auto my-1">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected>Tipo de Bien</option>
                        <option>Cultural</option>
                        <option>Humano</option>
                        <option>Kriptoniano</option>
                    </select>
                </div>
                <div class="form-group col-sm-auto my-1">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected>Departamento</option>
                        <option>Lima</option>
                        <option>Ica</option>
                        <option>Cusco</option>
                    </select>
                </div>
                <div class="form-group col-sm-auto my-1">
{#                    <button class="btn btn-primary col-sm-auto" type="button">#}
{#                        <span class="fas fa-paperclip mr-1" data-fa-transform="shrink-3"></span>Agregar Entidad#}
{#                    </button>#}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAgregar">
                      Agregar Entidad
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0">Tabla de Entidades Solicitantes</h5>
    </div>
    <div class="card-body bg-light px-0">
      <div class="row">
        <div class="col-12">
          <table class="table table-sm table-dashboard data-table no-wrap mb-0 fs--1 w-100">
            <thead class="bg-200">
              <tr>  
                <th class="sort">DOI</th>
                <th class="sort">Nombre</th>
                <th class="sort">Dirección</th>
                <th class="sort">Telefono</th>
                <th class="sort">Correo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody class="bg-white">
            {% for e in entidades %}
              <tr>
                <td>{{ e.doiSolicitante }}</td>
                <td>{{ e.nombreSolicitante }}</td>
                <td>{{ e.direccion }}</td>
                <td>{{ e.telefono }}</td>
                <td>{{ e.correo }}</td>
                <td>
{#                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalEditar">Editar</button>#}
                    <button type="button" id ="btnEditar" class="btn btn btn-outline-light" data-toggle="modal" data-target="#ModalEditar" data-id = "{{ e.id }}" data-doi="{{ e.doiSolicitante }}" data-nombre="{{ e.nombreSolicitante }}" data-correo="{{ e.correo }}"
                    data-pais="{{ e.pais }}" data-direccion="{{ e.direccion }}" data-telefono="{{ e.telefono }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></button>
{#                    <a href="/edicionEntidad/{{ e.id }}" class="btn btn-info">Editar</a>#}
{#                    Este es el boton eliminar#}
{#                    <a href="/traslado/eliminarSolicitantes/{{ e.id }}" class="btn btn-danger">Eliminar</a>}#}
{#                    Aca termina en caso no sirva el nuevo boton #}

{#                    <button type="button" id="btnEliminar" class="btn btn btn-outline-light" data-toggle="modal" data-target="#staticBackdrop"class="btn btn-danger" data-doi="{{ e.doiSolicitante }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-trash" viewBox="0 0 16 16">#}
{#                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>#}
{#                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>#}
{#                    </svg></button>#}
{#                    <a href="/eliminarEntidad/{{ e.id }}" class="btn btn-danger">Eliminar</a>#}
                </td>
              </tr>
            {% endfor %}

            </tbody>
            <tfoot class="bg-200">
              <tr>
                <th>DOI</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-12">
        </div>
      </div>
    </div>
  </div>


    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar Entidad Solicitante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro que desea eliminar la entidad?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <form action="/traslado/eliminacionSolicitante/" method="POST">{% csrf_token %}
              <div class="form-group">
                  <input type="text" id="inputDOI3" name="inputDOI3" class="form-control" style="display: none">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block text-white">Eliminar
                  </button>
              </div>
          </form>

{#          <a href="/traslado/eliminarSolicitantes/{{ e.id }}" class="btn btn-primary">Eliminar</a>#}
{#        <button type="button" class="btn btn-primary">Confirmar</button>#}
      </div>
    </div>
  </div>
</div>

    <div class="modal fade" id="ModalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nueva Entidad Solicitante</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="formAddEntidades" id="formAddEntidades" action="/traslado/registrarSolicitantes/" method="POST">
                {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDOI">DOI Entidad</label>
                  <input type="text" class="form-control" id="inputDOI" name="inputDOI" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputNombre">Nombre Entidad</label>
                  <input type="text" class="form-control" id="inputNombre" name="inputNombre" >
                </div>
              </div><div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCorreo">Correo</label>
                  <input type="email" class="form-control" id="inputCorreo" name="inputCorreo" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDireccion">Dirección</label>
                  <input type="text" class="form-control" id="inputDireccion" name="inputDireccion" >
                </div>
              </div><div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPais">Pais</label>
                  <input type="text" class="form-control" id="inputPais" name="inputPais" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputTelefono">Telefono</label>
                  <input type="text" class="form-control" id="inputTelefono" name="inputTelefono" >
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Agregar Entidad</button>
            </form>
          </div>
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#            <button type="button" class="btn btn-primary">Save changes</button>#}
{#          </div>#}
        </div>
      </div>
</div>

    <div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Entidad Solicitante</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/traslado/editarSolicitante/" method="POST" name="formEditEntidades" id="formEditEntidades">
                {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDOI2">DOI Entidad</label>
                  <input type="text" class="form-control" id="inputDOI2" name="inputDOI2" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputNombre2">Nombre Entidad</label>
                  <input type="text" class="form-control" id="inputNombre2" name="inputNombre2" >
                </div>
              </div><div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCorreo2">Correo</label>
                  <input type="email" class="form-control" id="inputCorreo2" name="inputCorreo2" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDireccion2">Dirección</label>
                  <input type="text" class="form-control" id="inputDireccion2" name="inputDireccion2" >
                </div>
              </div><div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPais2">Pais</label>
                  <input type="text" class="form-control" id="inputPais2" name="inputPais2" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputTelefono2">Telefono</label>
                  <input type="text" class="form-control" id="inputTelefono2" name="inputTelefono2" >
                </div>
              </div>
                <input type="text" class="form-control" id="inputID" name="inputID" style="display: none">
              <button type="submit" class="btn btn-primary">Editar Entidad</button>
            </form>
          </div>
        </div>
      </div>
</div>


{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>
    <script >

    jQuery.validator.addMethod("digitsROI", function (value, element) {
            return this.optional(element) || /^(\d{8}|\d{11}|\d{12})+$/i.test(value);
        }, "Letters, numbers, and underscores only please");

    jQuery.validator.addMethod("alphanumericNombreEnti", function (value, element) {
            return this.optional(element) || /^[\w\-\s\-]+$/i.test(value);
        }, "Letters, numbers, and underscores only please");

    $("form[name='formAddEntidades']").validate({
            rules: {
                inputDOI: {
                    required: true,
                    digitsROI: true,
                },
                inputNombre: {
                    required: true,
                    alphanumericNombreEnti:true,
                    maxlength: 100,
                },
                inputCorreo: {
                    required: true,
                },
                inputDireccion:{
                    required: true,
                },
                inputPais:{
                    required:true,
                },
                inputDireccion:{
                    required: true,
                },
                inputTelefono:{
                    required: true,
                }
            },
            messages: {
                inputDOI: {
                    required: "Debe ingresar el DOI de la entidad solicitante",
                    digitsROI: "EL ROI debe ser una cadena numérica de 8, 11 o 12 dígitos ",
                },
                inputNombre: {
                    required: "Debe ingresar el nombre de la entidad solicitante",
                    alphanumericNombreEnti: "El nombre solo debe contener carácteres alfanuméricos incluido" +
                        " guión(-) y guión bajo (_)",
                    maxlength: "El nombre de la entidad no debe tener más de 100 caracteres",

                },
                inputCorreo: {
                    required: "Debe ingresar el correo de la entidad solicitante",
                },
                inputDireccion:{
                    required: "Debe ingresar la dirección de la entidad solicitante",
                },
                inputPais:{
                    required: "Debe ingresar el país de la entidad solicitante",
                },
                inputDireccion:{
                    required: "Debe ingresar la dirección de la entidad solicitante",
                },
                inputTelefono:{
                    required: "Debe ingresar el teléfono de la entidad solicitante",
                }
            },
            submitHandler: function (form, e) {
                e.preventDefault();
                if ($("#formAddEntidades").valid()) {
                    form.submit();
                }
                return false;
            }
        });



	$(document).on("click", "#btnEditar",function () {

           var id =$(this).data('id');
           var doi =$(this).data('doi');
           var nombre =$(this).data('nombre');
           var direccion =$(this).data('direccion');
           var telefono =$(this).data('telefono');
           var pais =$(this).data('pais');
           var correo =$(this).data('correo');

		$("#inputID").val(id);
		$("#inputDOI2").val(doi);
		$("#inputNombre2").val(nombre);
		$("#inputDireccion2").val(direccion);
		$("#inputCorreo2").val(correo);
		$("#inputPais2").val(pais);
		$("#inputTelefono2").val(telefono);
    })
    </script>

    <script>
    $("form[name='formEditEntidades']").validate({
            rules: {
                inputDOI2: {
                    required: true,
                    digitsROI: true,
                },
                inputNombre2: {
                    required: true,
                    alphanumericNombreEnti:true,
                    maxlength: 100,
                },
                inputCorreo2: {
                    required: true,
                },
                inputDireccion2:{
                    required: true,
                },
                inputPais2:{
                    required:true,
                },
                inputDireccion2:{
                    required: true,
                },
                inputTelefono2:{
                    required: true,
                }
            },
            messages: {
                inputDOI2: {
                    required: "Debe ingresar el DOI de la entidad solicitante",
                    digitsROI: "EL ROI debe ser una cadena numérica de 8, 11 o 12 dígitos ",
                },
                inputNombre2: {
                    required: "Debe ingresar el nombre de la entidad solicitante",
                    alphanumericNombreEnti: "El nombre solo debe contener carácteres alfanuméricos incluido" +
                        " guión(-) y guión bajo (_)",
                    maxlength: "El nombre de la entidad no debe tener más de 100 caracteres",
                },
                inputCorreo2: {
                    required: "Debe ingresar el correo de la entidad solicitante",
                },
                inputDireccion2:{
                    required: "Debe ingresar la dirección de la entidad solicitante",
                },
                inputPais2:{
                    required: "Debe ingresar el país de la entidad solicitante",
                },
                inputDireccion2:{
                    required: "Debe ingresar la dirección de la entidad solicitante",
                },
                inputTelefono2:{
                    required: "Debe ingresar el teléfono de la entidad solicitante",
                }
            },
            submitHandler: function (form, e) {
                e.preventDefault();
                if ($("#formEditEntidades").valid()) {
                    form.submit();
                }
                return false;
            }
        });
    </script>

    <script >
	$(document).on("click", "#btnEliminar",function () {
        var doi =$(this).data('doi');
		$("#inputDOI3").val(doi);
    })
    </script>

    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
{% endblock %}