{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="{% static 'lib/dropzone/dropzone.min.css' %}" rel="stylesheet">

    <style>

        table {
            min-width: 100%;
            color: #2B2D42 !important;
            background-color: #EDF2F9;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h5>Ver Traslado</h5>
        </div>

        <div class="card-body bg-light">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 ">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5>General</h5>
                        </div>
                        <div class="card-body bg-light">
                            <div class="form-group">
                                <label for="tipoTraslado">Tipo de Traslado:</label>
                                <select class="form-control" id="tipoTraslado" disabled>
                                    <option {% if e.pk == '1' %} selected {% endif %}>Exposición en el extranjero
                                    </option>
                                    <option {% if e.pk == '2' %} selected {% endif %}>Exponsición nacional</option>
                                    <option {% if e.pk == '3' %} selected {% endif %}>Misión Diplomática</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pais">País destino:</label>
                                <input class="form-control" id="pais" name="pais" type="text"
                                       value="{{ traslado.pais }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="ubigeo">Dirección de destino:</label>
                                <input class="form-control" id="destino" name="destino" type="text"
                                       value="Destino" disabled>
                            </div>

                            <div class="form-group ">
                                <label for="nombreExposicion">Nombre de la Exposición:</label>
                                <input class="form-control" id="nombreExposicion" name="nombreExposicion" type="text"
                                       value="{{ traslado.nombreExposicion }}" disabled>
                            </div>

                            <div class="form-group">
                                <label for="comisario">Comisario:</label>
                                <input class="form-control" id="comisario" name="comisario" type="text"
                                       value="{{ traslado.gestorConservacionTraslados }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="nResolucion">N° de Resolucion:</label>
                                <input class="form-control" id="nResolucion" name="nResolucion" type="text"
                                       value="{{ traslado.numeroResolucion }}" disabled>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5>Entidad solicitante</h5>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="form-group">
                                        <label for="nombreInstitucion">Entidad Solicitante: </label>
                                        <select class="form-control" id="nombreInstitucion"
                                                name="nombreInstitucion" disabled>
                                            {% for e in entidades %}
                                                <option value="{{ e.pk }}" {% if e.pk == traslado.pk %}
                                                        selected {% endif %} >{{ e.nombreSolicitante }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group ">
                                        <label for="nombreExposicion">Correo de la entidad solicitante:</label>
                                        <input class="form-control" id="correoEntidadSolicitante"
                                               name="correoEntidadSolicitante"
                                               type="text"
                                               value="{{ traslado.entidadSolicitante.correo }}" disabled>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Fechas</h5>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="fechaSalidaProgramada">Fecha de Salida Programada: </label>
                                                <input class="form-control" id="fechaSalidaProgramada"
                                                       name="fechaSalidaProgramada" type="date"
                                                       value="{{ traslado.fechaSalidaProgramada|date:'Y-m-d' }}"
                                                       disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="fechaSalidaReal">Fecha de Salida Real:</label>
                                                <input class="form-control" id="fechaSalidaReal" name="fechaSalidaReal"
                                                       type="date"
                                                       value="{{ traslado.fechaSalidaReal|date:'Y-m-d' }}" disabled>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="fechaRetornoReal">Fecha de Retorno Real:</label>
                                                <input class="form-control" id="fechaRetornoReal"
                                                       name="fechaRetornoReal" type="date"
                                                       value="{{ traslado.fechaRetorno|date:'Y-m-d' }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5>Patrimonios a ser trasladados</h5>
                                </div>
                                <div class="card-body bg-light">
                                    <table class="table table-responsive-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Patrimonio</th>
                                            <th scope="col">Clasificación</th>
                                            <th scope="col">Tipo de bien</th>
                                            <th scope="col">Estado</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for patrimonio in patrimonios %}
                                            <tr>
                                                <td>{{ patrimonio.pk }}</td>
                                                <td>{{ patrimonio.nombreTituloDemoninacion }}</td>
                                                <td>{{ patrimonio.categoria.nombre }}</td>
                                                <td>{{ patrimonio.get_tipoPatrimonio_display }}</td>
                                                <td>{{ patrimonio.get_estado_display }}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header">
                    <h5>Documentos:</h5>
                </div>
                <div class="card-body bg-light">
                    <div class="row">
                        {% for documento in documentos %}
                            <div class="col-2">
                                <a class="notification notification-flush bg-0 "
                                   href="{{ media_path }}{{ documento.documento.url }}" download>
                                    <div class="card mx-1">
                                        <div class="card-body p-0">
                                            <div>
                                                <img class="img-fluid" src="{% static 'img/icons/icono-PDF.png' %}">
                                            </div>
                                        </div>
                                        <div class="card-footer p-2">
                                            <h6>{{ documento.documento.filename }}</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <div class="row mt-5">
                        <div class="col-11">
                            <div class="row mx-3">
                                <div class="col-2 flex-center mt-auto mb-auto ">
                                    <h5 class="flex-center mt-auto mb-auto">Estado: </h5>
                                </div>
                                <div class="col-3">
                        <span class="btn
                        {% if traslado.estado == '1' %}
                                    btn-warning
                                {% elif traslado.estado == '2' %}
                                    btn-info
                                {% elif traslado.estado == '3' %}
                                    btn-danger
                                {% elif traslado.estado == '4' %}
                                    btn-success
                                {% elif traslado.estado == '5' %}
                                    btn-dark
                                {% elif traslado.estado == '6' %}
                                    btn-light
                                {% endif %} ">
                            {{ traslado.get_estado_display }}
                        </span>
                                </div>


                                        <div class="col-3 p-0">
                                            <button class="btn btn-primary mx-1" type="button" data-toggle="modal"
                                                    data-target="#verDetalleRechazo">
                                                Ver detalle de rechazo
                                            </button>
                                        </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex flex-row justify-content-end mt-5">
                        <div class="flex-column">
                            <a class="btn btn-primary mr-3 mb-1" type="button"
                               href="{% url 'list_transfers' %}">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <!-- Ver detalle de rechazo -->
    <div class="modal fade" id="verDetalleRechazo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle de rechazo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>{{ traslado.detalleRechazo }}</p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/dropzone/dropzone.min.js' %}"></script>


    </script>
{% endblock %}