{% extends 'base/root.html' %}
{% load static %}

{% block main_content %}
  <div class="container-fluid">
    <div class="row min-vh-100 flex-center no-gutters">
      <div class="col-lg-8 col-xxl-5 py-3">
        <img class="bg-auth-circle-shape" src="{% static 'img/illustrations/bg-shape.png' %}" alt="" width="250">
        <img class="bg-auth-circle-shape-2" src="{% static 'img/illustrations/shape-1.png' %}" alt="" width="150">
        <div class="card overflow-hidden z-index-1">
          <div class="card-body p-0">
            <div class="row no-gutters h-100">

              {% block body %}{% endblock %}



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}