{% load static %}
{% load has_group %}
{#{% load group_tags %}#}
{#{% load has_group %}#}
<nav class="d-flex align-items-start navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand"
     style="height: 75px">

  <div class="d-flex flex-row align-items-center">
    <div class="mr-5">
      <a href="/">
        <img src="{% static '/img/logos/mincult.png' %}" style="height: 50px;"/>
      </a>
    </div>

    <a href="/incidentes/">
{#    Podemos relizar verificaciones de seguridad en front, con "Usuario interno" que involucra que todo usuario registrado lo verá#}
{#      {% if request.user|has_group:"Usuario Interno" %}#}
{#        <button class="btn btn-primary px-3 mr-2" type="button">#}
{#          <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Incidentes#}
{#        </button>#}
{#      {% endif %}#}
{#    Podemos realizar verificaciones por usuario#}
      {% if request.user|has_group:"Administrador" %}
        <button class="btn btn-primary px-3 mr-2" type="button">
          <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Incidentes
        </button>
      {% endif %}
    </a>
    <a href="{% url 'listProjects' %}">
      <button class="btn btn-primary px-3 mr-2" type="button">
        <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Conservación
      </button>
    </a>
    <a href="{% url 'list_transfers' %}">
      <button class="btn btn-primary px-3 mr-2" type="button">
        <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Traslados
      </button>
    </a>
    <a href="{% url 'reportes' %}">
    <button class="btn btn-primary px-3 mr-2" type="button">
      <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Reportes
    </button>
      </a>
  </div>

  <ul class="d-flex navbar-nav navbar-nav-icons ml-auto flex-row justify-content-end mt-2">
    {% comment %}<li class="d-flex flex-row nav-item mr-3">

      <p class="mb-2 mr-2">Admin </p>
      <p>Administrador</p>
      {#=======#}
      {#            <p class = "m-2">Rodrigo Correa22</p>#}
      {#            <p class = "m-2">Admin</p>#}
    </li>{% endcomment %}
    <li class="nav-item align-items-end">
      <div class="col-md pr-0">
{#        {% if request.user|has_group:"Administrador" %}#}
{#            <h5 class="mb-0 align-items-end text-right" id="top_navbar_name" style="font-size: 1rem">Admin</h5>#}
{#        {% endif %}#}
{#        {% if request.user|has_group:"Conservador" %}#}
{#            <h5 class="mb-0 align-items-end text-right" id="top_navbar_name" style="font-size: 1rem">Conservador</h5>#}
{#        {% endif %}#}
{#        {% if request.user|has_group:"Gestor de Conservación y Traslados" %}#}
{#            <h5 class="mb-0 align-items-end text-right" id="top_navbar_name" style="font-size: 1rem">Gestor de Conservación y Traslados</h5>#}
{#        {% endif %}#}
        <p class="m-0" id="top_navbar_rol" style="color: #f5803e">{{ request.user }} </p>
        <p class="m-0">{{ user.groups.get }}</p>
      </div>
    </li>

    {% if 1 %}
      {#     <li class="nav-item">#}
      {#          <div class="col-md">#}
      {#              <h5 class="mb-0" id="top_navbar_name" style="font-size: 1rem"></h5>#}
      {#           </div>#}
      {#     </li>#}
      <li class="nav-item dropdown dropdown-on-hover">
        {#                <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown"#}
        {#                   aria-haspopup="true" aria-expanded="false">#}
        {#                    <div class="avatar avatar-xl  ">#}
        {#                        <img id="top_navbar_photo" src="" alt="" hidden/>#}
        {#                    </div>#}
        {#                </a>#}
        <a class="d-flex align-items-start nav-link my-0 py-0" id="navbarDropdownUser" href="#"
            {#<<<<<<< Updated upstream#}
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {#                    <div class="avatar avatar-xl mt-5 mr-4">#}
          {##}
          {#                        <img class="rounded-circle" src="{% static 'img/team/avatar.png' %}" alt=""/>#}
          {#                    {% if user.photo.name %}#}
          {#                        <img class="rounded-circle" src="{% get_media_prefix %}{{ request.user.photo }}" alt=""/>#}
          {#                    {% else %}#}
          {#                        <img class="rounded-circle"#}
          {#                             src="{% static 'img/team/avatar.png' %}"#}
          {#                             alt=""/>#}
          {#                    {% endif %}#}
          {#                    </div>#}
          {#                </a>#}
          {##}
          {#                <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">#}
          {#                    <div class="bg-white rounded-soft py-2">#}
          {#                        <a class="dropdown-item">#}
          {#                            <div class="custom-control custom-switch">#}
          {#                                <input type="checkbox" class="custom-control-input" name="disponible"#}
          {#                                       id="toggle_disponible">#}
          {#                                <label class="custom-control-label" for="toggle_disponible">Disponible</label>#}
          {#                            </div>#}
          {#                        </a>#}
          {#=======#}
          {#  role="button" data-toggle="dropdown" aria-haspopup="true"#}
          {#  aria-expanded="false">#}
          {#          <div class="avatar avatar-x my-0 py-0">#}
          {#            <img class="rounded-circle" src="{% static 'img/team/3-thumb.png' %}" alt="" style="width: 45px; height: 45px"/>#}
          {#                    {% if user.photo.name %}#}
          {#                        <img class="rounded-circle" src="{% get_media_prefix %}{{ request.user.photo }}" alt=""/>#}
          {#                    {% else %}#}
          {#                        <img class="rounded-circle"#}
          {#                             src="{% static 'img/team/avatar.png' %}"#}
          {#                             alt=""/>#}
          {#                    {% endif %}#}
          {#          </div>#}
        </a>

        <div class="dropdown-menu dropdown-menu-right mt-0 mr-4" aria-labelledby="navbarDropdownUser">
          <div class="bg-white rounded-soft">
            <a class="dropdown-item" href="">Cerrar sesión</a>
          </div>
        </div>
      </li>
        
    {% else %}
      <li class="nav-item">
        <a class="btn btn-falcon-primary mt-2" id="login" href="">Iniciar Sesión</a>
      </li>
    {% endif %}
  </ul>

</nav>
<div style="margin-top: 0rem; margin-bottom: 10px"></div>