{% load static %}
{% load has_group %}
{#{% load group_tags %}#}
{#{% load has_group %}#}
<nav class="d-flex align-items-start navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand"
     style="height: 75px">

  <div class="d-flex flex-row align-items-center">
    <div class="mr-5">
      <a href="/">
        <img src="{% static '/img/logos/mincult.png' %}" style="height: 50px;"/>
      </a>
    </div>

    <a href="/incidentes/">
{#    Podemos relizar verificaciones de seguridad en front, con "Usuario interno" que involucra que todo usuario registrado lo verá#}
{#      {% if request.user|has_group:"Usuario Interno" %}#}
{#        <button class="btn btn-primary px-3 mr-2" type="button">#}
{#          <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Incidentes#}
{#        </button>#}
{#      {% endif %}#}
{#    Podemos realizar verificaciones por usuario#}
      {% if request.user|has_group:"Administrador" %}
        <button class="btn btn-primary px-3 mr-2" type="button">
          <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Incidentes
        </button>
      {% endif %}
    </a>
    <a href="{% url 'listProjects' %}">
      <button class="btn btn-primary px-3 mr-2" type="button">
        <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Conservación
      </button>
    </a>
    <a href="{% url 'list_transfers' %}">
      <button class="btn btn-primary px-3 mr-2" type="button">
        <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Traslados
      </button>
    </a>
    <a href="{% url 'reportes' %}">
    <button class="btn btn-primary px-3 mr-2" type="button">
      <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Reportes
    </button>
      </a>
  </div>

  <ul class="d-flex navbar-nav navbar-nav-icons ml-auto flex-row justify-content-end mt-2">
    {% comment %}<li class="d-flex flex-row nav-item mr-3">

      <p class="mb-2 mr-2">Admin </p>
      <p>Administrador</p>
      {#=======#}
      {#            <p class = "m-2">Rodrigo Correa22</p>#}
      {#            <p class = "m-2">Admin</p>#}
    </li>{% endcomment %}
    <li class="nav-item align-items-end">
      <div class="col-md pr-0">
{#        {% if request.user|has_group:"Administrador" %}#}
{#            <h5 class="mb-0 align-items-end text-right" id="top_navbar_name" style="font-size: 1rem">Admin</h5>#}
{#        {% endif %}#}
{#        {% if request.user|has_group:"Conservador" %}#}
{#            <h5 class="mb-0 align-items-end text-right" id="top_navbar_name" style="font-size: 1rem">Conservador</h5>#}
{#        {% endif %}#}
{#        {% if request.user|has_group:"Gestor de Conservación y Traslados" %}#}
{#            <h5 class="mb-0 align-items-end text-right" id="top_navbar_name" style="font-size: 1rem">Gestor de Conservación y Traslados</h5>#}
{#        {% endif %}#}
        <p class="m-0" id="top_navbar_name" style="color: #f5803e">{{ request.user }} </p>
        <p class="m-0" id="top_navbar_rol" >{{ user.groups.get }}</p>
      </div>
    </li>

    {% if 1 %}

      <li class="nav-item">
        <div class="btn p-0 pl-3 dropdown-toggle" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </div>

        <div class="dropdown-menu position-absolute r-0 l-unset" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/auth/login/">Cerrar sesión <span class="fas fa-arrow-right topNavIcon" data-fa-transform="shrink-3"></span> </a>
        </div>

      </li>

    {% else %}
      <li class="nav-item">
        <a class="btn btn-falcon-primary mt-2" id="login" href="">Iniciar Sesión</a>
      </li>
    {% endif %}
  </ul>

</nav>
<div style="margin-top: 0rem; margin-bottom: 10px"></div>