{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <style>
        .degradado {
            background: linear-gradient(45deg, rgba(0, 0, 0, 1) 20%, transparent 100%);
            opacity: .8;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-body row">
            <div class="col-md-6 col-sm-12">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6 d-flex">
                        <h5 class="mb-2 mb-sm-0 text-black mr-4">Reportes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 p-0">
        <div class="card-body row">
            <div class="col-md-12">
                <div id="canvas-holder">
                    <canvas id="chart-area"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-primary btn-sm ml-0" id="changeCircleSize">Semi/Full Circle</button>
    </div>


{% endblock %}

{% block extrajs %}
    <script>

        let etiquetas = []

        // Chart customizer
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var cargaInicial = function () {

            var num = []

            $.ajax({
                type: 'POST',
                url: "{% url 'traerData'%}",
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {
                    console.log(response['data']);
                    num = response['data']
                    etiquetas = response['labels']
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response);
                }
            });

            return num;
        };

        // Doughnut chart
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100);
        };

        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: cargaInicial(),
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                    ],
                    label: 'Dataset 1'
                }],
                labels: etiquetas
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Incidentes por patrimonio'
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myDoughnut = new Chart(ctx, config);
        };

        {#document.getElementById('addData').addEventListener('click', function () {#}
        {#    if (config.data.datasets.length > 0) {#}
        {#        config.data.labels.push('data #' + config.data.labels.length);#}
        {##}
        {#        var colorName = colorNames[config.data.datasets[0].data.length % colorNames.length];#}
        {#        var newColor = window.chartColors[colorName];#}
        {##}
        {#        config.data.datasets.forEach(function (dataset) {#}
        {#            dataset.data.push(randomScalingFactor());#}
        {#            dataset.backgroundColor.push(newColor);#}
        {#        });#}
        {##}
        {#        window.myDoughnut.update();#}
        {#    }});#}
        {##}

        document.getElementById('changeCircleSize').addEventListener('click', function () {
            if (window.myDoughnut.options.circumference === Math.PI) {
                window.myDoughnut.options.circumference = 2 * Math.PI;
                window.myDoughnut.options.rotation = -Math.PI / 2;
            } else {
                window.myDoughnut.options.circumference = Math.PI;
                window.myDoughnut.options.rotation = -Math.PI;
            }

            window.myDoughnut.update();
        });

    </script>

{% endblock %}