{% load static %}


{% block extrastyle %}
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="background-color: #EEF3F9!important; width: 100%!important; height: 100vh!important; position: absolute!important; left: 0!important; top: 0!important;">
        <div class="" style="display: flex!important;flex-direction: column!important;align-items: center!important;; background-color: #EEF3F9!important; height: 500px; width: 500px; position: absolute!important; top: calc(50% - 250px)!important; left: calc(50% - 250px)!important;">
            <h1 class="" style="font-size: 100px!important; margin: 0px!important;">404</h1>
            <h5 style="font-size: 30px; margin-bottom: 20px!important"><strong>UPS!</strong>Error Interno</h5>
            <img src="{% static '/img/logos/mincult.png' %}" style="height: 50px;"/>
            <p class="text-center" style="font-size: 20px;">¡Algo salió mal! Por favor, reintenta en un momento.</p>
            <a href="{% url 'mapaPatrimonioSimple' %}">
        <button class="btn btn-primary px-3 mr-2" type="button">
          Regresar
         </button>
        </a>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
{% endblock %}