{% extends 'proyectoConservacion/components/base.html' %}
{% load static %}

{% block extrastyle %}
  <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.css' %}" rel="stylesheet">
  <style>
      #cover-spin {
          position: fixed;
          width: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 9999;
          display: none;
      }

      @-webkit-keyframes spin {
          from {
              -webkit-transform: rotate(0deg);
          }
          to {
              -webkit-transform: rotate(360deg);
          }
      }

      @keyframes spin {
          from {
              transform: rotate(0deg);
          }
          to {
              transform: rotate(360deg);
          }
      }

      #cover-spin::after {
          content: '';
          display: block;
          position: absolute;
          left: 48%;
          top: 40%;
          width: 40px;
          height: 40px;
          border-style: solid;
          border-color: black;
          border-top-color: transparent;
          border-width: 4px;
          border-radius: 50%;
          -webkit-animation: spin .8s linear infinite;
          animation: spin .8s linear infinite;
      }

      .btn-1 {
          text-align: center;
          float: left;
          border: 1px solid #2B2D42 !important;
          background-color: #2B2D42 !important;
          color: white !important;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }

      .btn-2 {
          text-align: center;
          float: left;
          border: 1px solid floralwhite;
          background-color: white;
          color: black;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }

      .btn-2:hover {
          transform: scale(0.98);
          /* Scaling button to 0.98 to its original size */
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          /* Lowering the shadow */
      }


      .table.dataTable tbody th, table.dataTable tbody td {
          padding: 8px 10px 8px 18px !important;
      }

      .modal-body {
          background-color: #F7F8FB !important;
      }

      .form-control {
          background-color: white !important;
      }

      .second {
          background-color: white !important;
          color: #2B2D42 !important;
          border-color: #8d8e99 !important;
          border-radius: 12px !important;
          height: 36px !important;
          font-size: 12px !important;
      }

      .form-control {
          background-color: white !important;
          cursor: pointer !important;
      }

      span.select2-selection.select2-selection--single {
          display: flex !important;
          align-items: center !important;
      }

      span.select2-selection__arrow {
          margin-top: 5px !important;
          display: none !important;
      }

      span.select2-selection__arrow > i.fa.fa-chevron-right:before {
          content: "\f0fe";
      }

      span.select2-selection__arrow {
          margin-top: 5px !important;
      }

      .select2-selection {
          height: 36px !important;
          border-radius: 10px !important;
          border-color: #D7E1EE !important;
          align-items: center !important;
      }

      .select2-selection__placeholder {
          align-items: center !important;
          font-size: 12px !important;
          color: #BDC1D2 !important;
      }

      .inputIcon2 {
          color: #393e44 !important;
          font-size: 10px !important;
          margin-top: 2px;
      }

      input:disabled {
          background-color: #D2D2D2 !important;
      }

      select:disabled {
          background-color: #D2D2D2 !important;
      }

      textarea:disabled {
          background-color: #D2D2D2 !important;
      }

  </style>

{% endblock %}

{% block body %}
  <div class="card mb-3">
    <div class="card-body row">
      <div class="col-md-6 col-sm-12">

        <div class="row align-items-center justify-content-between">
          <div class="col-md-6 d-flex">
            <h5 class="mb-2 mb-sm-0 text-black mr-4">Incidentes</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <div class="row filterBar justify-content-end mr-0">

        <div class="form-group col-sm-2 mb-0">
          <div class="position-relative">
            <input class="form-control" id="search" type="text" placeholder="Código">
            <span class="fas fa-search inputIcon" data-fa-transform="shrink-3"></span>
          </div>
        </div>

        <div class="form-group col-sm-3 mb-0">
          <select class="selectpicker form-control" id="zona" name="zona">
          </select>
          <span class="fas fa-chevron-down inputIcon inputIcon2 mr-3"></span>
        </div>

        <div class="form-group col-sm-3 mb-0">
          <select class="form-control" id="type_filter">
            <option value="" selected>Tipos</option>
            {% for mykey,myvalue in typeIncidents %}
              <option value="{{ mykey }}">{{ myvalue }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-sm-2 mb-0">
          <select class="form-control" id="status_filter">
            <option value="" selected>Estados</option>
            {% for mykey,myvalue in status_choices %}
              <option value="{{ mykey }}">{{ myvalue }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <table id="tabla_incidentes" class="table table-sm table-dashboard data-table mb-0 fs--1 w-100">
        <thead class="bg-200">
        <tr>
          <th class="sort ">Código</th>
          <th class="sort">Zona</th>
          <th class="sort type">Tipo de Afectación</th>
          <th class="sort">Informante</th>
          <th class="sort">Fecha de Registro</th>
          <th class="sort">Estado</th>
          <th class="sort">Acciones</th>
        </tr>
        </thead>
        <tbody class="bg-white">

        </tbody>
      </table>
    </div>
  </div>

  <!-- NEW and EDIT Modal -->
  <div class="modal fade" id="modalIncidente" role="dialog">
    <div class="modal-dialog mw-100 w-25">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal_title"></h4>
        </div>
        <div class="modal-body">
          <form role="form" id="formActividad">
            {% csrf_token %}

            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="nombre">Informante:</label>
                <input class="form-control" id="informante" name="informante" type="text" required
                       placeholder="informante" disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="patrimonio">Tipo del incidente:</label>
                <select class="form-control selectpicker" id="tipo" name="tipo" disabled>
                  <option value="first" selected="selected">Otros</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="fechaInicio">Fecha del incidente:</label>
                <input class="form-control" id="fecha" name="fecha" type="date" required disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="nombre">Correo Electrónico:</label>
                <input class="form-control" id="correo" name="correo" type="text" required
                       placeholder="correo" disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="nombre">Teléfono:</label>
                <input class="form-control" id="telefono" name="telefono" type="text" required
                       placeholder="teléfono" disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="descripcion">Descripcion:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" type="text" required
                          placeholder="Descripción de la Actividad" disabled></textarea>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="patrimonio">Estado:</label>
                <select class="form-control selectpicker" id="status" name="status" disabled>
                  <option value="first" selected="selected">Asignado</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-12 col-sm-12">
                <label for="nombre">Proyecto de conservación:</label>
                <input class="form-control" id="proyecto" name="proyecto" type="text" required
                       placeholder="proyecto" disabled>
              </div>
            </div>

            <div class="row justify-content-end mt-2 ml-0 mr-0">
              <button type="button" data-dismiss="modal" class="btn btn-primary w-100">Volver</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Confirm Modal -->
  <div class="modal fade" id="modalAsociar" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Asignar Incidente a Proyecto de Conservación</h4>
        </div>
        <div class="modal-body px-4">
          <div class="row mb-3">
            <label for="nombre">Proyecto de conservación:</label>
            <input class="form-control" id="proyectoAsignacion" name="proyectoAsignacion" type="text" required
                   placeholder="proyectoAsignacion" disabled value="">
          </div>
          <div class="row justify-content-center">
            <button type="button" data-dismiss="modal" class="btn second mr-2">Cancelar</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary ml-2" id="asign">Asignar
              <Asignación></Asignación>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="del" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">¿Retirar asignación?</h4>
        </div>
        <div class="modal-body px-4">
          <div class="row mb-3">
            <label for="nombre">Proyecto de conservación:</label>
            <input class="form-control" id="proyectoAsignacion" name="proyectoAsignacion" type="text" required
                   placeholder="proyectoAsignacion" disabled value="">
          </div>
          <div class="row justify-content-center">
            <button type="button" data-dismiss="modal" class="btn second mr-2">Cancelar</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary ml-2" id="delete">Retirar
              <Asignación></Asignación>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cover-spin"></div>

{% endblock %}

{% block extrajs %}
  <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
  <script>


    let types = {
      '1': 'Invasión/Ocupación Ilegal/Ampliación de Invasión',
      '2': 'Deterioro de patrimonio por efectos de la persona',
      '3': 'Deterioro de patrimonio por efectos de la naturaleza',
      '4': 'Destrucción en zonas arqueológicas',
      '5': 'Destrucción de casonas',
      '6': 'Huaquería',
      '7': 'Otros',
    };

    let status_filter = {
      '1': {
        'name': 'Registrado',
        'class': 'badge-soft-warning',
      },
      '2': {
        'name': 'En Proceso',
        'class': 'badge-soft-primary',
      },
      '3': {
        'name': 'Resuelto',
        'class': 'badge-soft-success',
      },
      '4': {
        'name': 'Denegado',
        'class': 'badge-soft-primary',
      }
    };

    //Instanciacion de select2 para zonas
    let zone = $('#zona')
    zone.select2({
      ajax: {
        url: '/incidentes/zonas/',
        datatype: 'json',
        delay: 250,
        data: function (params) {
          return {
            search: params.term || '',
            page: params.page || 1
          };
        },
        processResults: function (data, params) {
          params.page = params.page || 1;
          console.log(data.items)
          return {
            results: $.map(data.items, function (obj, index) {
              return {id: obj.id, text: obj.nombre};
            }),
            pagination: {
              more: (params.page * 10) < data.total_count
            }
          }
        }
      },
      placeholder: "Zona",
      allowClear: true,
      cache: false
    });

    //Configuración select2 para zonas
    zone.on("select2:clear", function (evt) {
      $(this).on("select2:opening.cancelOpen", function (evt) {
        evt.preventDefault();

        $(this).off("select2:opening.cancelOpen");
      });
    });


    //Instanciacion de DataTable para incidentes
    let table = $('#tabla_incidentes').DataTable({
      "searching": false,
      "serverSide": true,
      "processing": true,
      "lengthChange": false,
      "pageLength": 10,
      "scrollX": true,
      "ajax": function (data, callback, settings) {
        let order_column = data.order[0].column
        let order = data.order[0].dir

        $.ajax({
          url: '/incidentes',
          type: 'get',
          data: {
            length: data.length,
            start: data.start,
            search_value: $('#search').val(),
            type_filter: $('#type_filter').val(),
            status_filter: $('#status_filter').val(),
            zone_filter: $('#zona').val(),
            order_column: order_column,
            order: order
          },
          success: function (data, textStatus, jQxhr) {
            callback({
              recordsTotal: data.recordsTotal,
              recordsFiltered: data.recordsFiltered,
              data: data.data
            });
          },
          error: function (jqXhr, textStatus, errorThrown) {
          }
        });
      },
      "columns": [
        {"data": "codigo"},
        {"data": "zona"},
        {
          "data": "tipoAfectacion", render: function (data, type, row) {
            return types[data]
          }
        },
        {"data": "nombre"},
        {"data": "fechaRegistro"},
        {
          "data": "status", render: function (data, type, row) {
            return `<span class="badge badge rounded-capsule d-block ${status_filter[data]['class']}">${status_filter[data]['name']}</span>`
          }
        },
        {
          "data": "status", render: function (data, type, row) {

            let resp = '<button type="button" class="btn btn-show"><i class="fas fa-eye"></i></button>' + '&nbsp;&nbsp' +
                '<button type="button" class="btn btn-check"><i class="fas fa-check"></i></button>' + '&nbsp;&nbsp' +
                '<button type="button" class="btn btn-delete"><i class="fas fa-trash-alt"></i></button>'
            return resp;
          }
        }
      ],
      "language": {
        "processing": '<i class="fa fa-spinner fa-spin" style="font-size:24px;color:rgb(75, 183, 245);"></i>',
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst": "Primero",
          "sLast": "Último",
          "sNext": "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
    });


    //Vinculación de filtros a DataTable
    $('#search').keyup(function () {
      table.search($(this).val()).draw();
    })
    $('#status_filter').change(function () {
      table.draw();
    });
    $('#type_filter').change(function () {
      table.draw();
    });
    zone.change(function () {
      table.draw();
    });

    //Programación de opciones en DataTable

    $('#tabla_incidentes tbody').on('click', 'button', function () {

      let data = table.row($(this).parents('tr')).data();
      let class_name = $(this).attr('class');
      id = data['id'];

      if (class_name === 'btn btn-check') {

        $("#modalAsociar").modal();

      } else if (class_name === 'btn btn-show') {
        $('#cover-spin').show(0)
        $.ajax({
          url: '/incidentes/' + id + '/detalle/',
          type: 'get',
          data: {},
          success: function (data, textStatus, jQxhr) {
            $('#cover-spin').hide()
            let incidente = data['data'][0]
            console.log(incidente)
            let title = "Incidente " + incidente['codigo']
            $("#modalIncidente").modal();
            $('#modal_title').text(title);
            $('#informante').val(incidente['nombre']);
            $('select[name=tipo] option:first').html(types[incidente['tipoAfectacion']]);
            let fecha = incidente['fechaRegistro']
            var parts = fecha.split("/");
            var dt = new Date(parseInt(parts[2], 10),
                parseInt(parts[1], 10) - 1,
                parseInt(parts[0], 10));
            var currentDate = dt.toISOString().slice(0, 10);
            $('#fecha').val(currentDate);
            $('#correo').val(incidente['correo']);
            $('#telefono').val(incidente['telefono']);
            $('#descripcion').val(incidente['descripcion']);
            $('select[name=status] option:first').html(status_filter[incidente['status']]);
          },
          error: function (jqXhr, textStatus, errorThrown) {
            $('#cover-spin').hide()
          }
        });
      } else {
        // DELETE button
        $("#del").modal();
      }
    });


  </script>
{% endblock %}