{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block body %}

    Header
    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-md">
                    <h5 class="mb-2 mb-md-0 text-white">Objeto</h5>
                </div>
            </div>
        </div>
    </div>

    Card
    <div class="card mb-3">
        <div class="card-body ">
            Content
        </div>
    </div>

    Boton solo icono
    <button class="btn btn-primary mr-1 mb-1" type="button">
        <span class="fas fa-plus" data-fa-transform="shrink-3"></span>
    </button>

    Boton con icono
    <button class="btn btn-primary mr-1 mb-1" type="button">
        <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>Text
    </button>

    Boton sin icono azul
    <button class="btn btn-primary mr-1 mb-1" type="button">
        Text
    </button>

    Boton sin icono outline azul
    <button class="btn btn-outline-primary mr-1 mb-1" type="button">
        Text
    </button>


    Text box
    <div class="form-group">
        <label for="name">Titulo</label>
        <input class="form-control" id="name" type="text" placeholder="placeholder">
    </div>

    Text box con icono
    <div class="form-group">
        <label for="name">Titulo</label>
        <div class="position-relative">
            <input class="form-control " id="name" type="text" placeholder="placeholder">
            <span class="fas fa-plus inputIcon" data-fa-transform="shrink-3"></span>
        </div>

    </div>

    Select
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>

    Slider
    <div class="form-group">
        <label for="formControlRange">Slider</label>
        <input class="form-control-range" id="formControlRange" type="range">
    </div>











{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>

{% endblock %}