{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
<link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
<style>

</style>
{% endblock %}

{% block body %}

<div class="card mb-3 bg-card-gradient">
    <div class="card-body ">
        <div class="row justify-content-between align-items-center">
            <div class="col-md">
                <h5 class="mb-2 mb-md-0 text-white">Ministerio de Cultura</h5>
            </div>
        </div>
    </div>
</div>

 <!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="../static/img/landmarks/huascaran.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Nevado Huascaran"
    />

    <img
      src="../static/img/landmarks/sleepingBeauty.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Sleeping Beauty"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../static/img/landmarks/rockForest.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Bosque de Rocas"
    />

    <img
      src="../static/img/landmarks/macchuPicchujpg.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Macchu Picchu"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../static/img/landmarks/caral.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Caral"
    />

    <img
      src="../static/img/landmarks/lake69.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Lago Sesenta y Nueve"
    />
  </div>
</div>
<!-- Gallery -->

{% endblock %}

{% block extrajs %}
<script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>

{% endblock %}