{% extends 'base/auth_base.html' %}
{% load static %}

{% block extrastyles %}

    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="card-body p-4">
        <div class="d-flex align-items-center justify-content-between">
            <h3></h3>
            <p class="mb-0 fs--1"><span class="font-weight-semi-bold">Usuario Nuevo? </span><a
                    href="#">Crea una cuenta</a></p>
        </div>
        <form class="form" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="split-login-email">Email address</label>
                <input class="form-control" id="split-login-email" type="email" placeholder="Correo electronico" name="username" required/>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label for="split-login-password">Password</label>
                    <a class="fs--1" href="#">Forgot Password?</a>
                </div>
                <input class="form-control" id="split-login-password" type="password" placeholder="Contraseña" name="password" required/>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="split-checkbox"/>
                <label class="custom-control-label" for="split-checkbox">Remember me</label>
            </div>
            {% if failLogin %}
                <button class="btn btn-danger">ERROR: Usuario o contraseña inválidos</button>
            {% endif %}
            <div class="form-group">
                <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Log in</button>
            </div>
        </form>
    </div>

{% endblock %}


{#Bloque de extra JS -> JS#}

{% block extrajs %}
    <script>

    </script>
{% endblock %}